<footer>
  <div class="container">
    <ul>
      <li><a href="/">ホーム</a></li>
      <li><a href="/about/">研究室紹介</a></li>
      <li><a href="/people/">メンバー</a></li>
      <li><a href="/project/">プロジェクト</a></li>
      <li><a href="/publication/">研究業績</a></li>
      <li><a href="/access/">アクセス</a></li>
    </ul>
  </div>
  <p class="copyright">&copy; Convivial Computing Laboratory, Okayama University</p>
</footer>
</div>
<script type="importmap">
{
  "imports": {
    "vue": "https://unpkg.com/vue@3.3.12/dist/vue.esm-browser.prod.js",
    "axios": "https://unpkg.com/axios/dist/esm/axios.min.js"
  }
}</script>
<script src="/static/js/main.js?v=<%= version %>" type="module"></script>
</body>
</html>