<footer>
  <div class="container">
    <ul class="menu">
      <li><a href="/">ホーム</a></li>
      <li><a href="/about/">研究室紹介</a></li>
      <li><a href="/people/">メンバー</a></li>
      <li><a href="/project/">プロジェクト</a></li>
      <li><a href="/publication/">研究業績</a></li>
      <li><a href="/access/">アクセス</a></li>
    </ul>
    <ul class="sns-list">
      <li><a href="https://x.com/cocolabJP" target="_blank"><img src="/static/img/parts/ic-sns-x-w.png"></a></li>
      <li><a href="https://www.instagram.com/cocolabjp/" target="_blank"><img src="/static/img/parts/ic-sns-instagram-w.png"></a></li>
      <li><a href="https://www.threads.net/@cocolabjp" target="_blank"><img src="/static/img/parts/ic-sns-threads-w.png"></a></li>
      <li><a href="https://www.facebook.com/cocolab.jpn" target="_blank"><img src="/static/img/parts/ic-sns-facebook-w.png"></a></li>
      <li><a href="https://note.com/cocolabjp/m/m8dc0c6036545" target="_blank"><img src="/static/img/parts/ic-sns-note-w.png"></a></li>
      <li><a href="https://mixi.social/@cocolab" target="_blank"><img src="/static/img/parts/ic-sns-mixi2-w.png"></a></li>
    </ul>
  </div>
  <p class="copyright">&copy; Convivial Computing Laboratory, Okayama University</p>
</footer>
</div>
<script type="importmap">
{
  "imports": {
    "vue": "https://unpkg.com/vue@3.3.12/dist/vue.esm-browser.prod.js",
    "axios": "https://unpkg.com/axios/dist/esm/axios.min.js"
  }
}</script>
<script src="/static/js/main.js?v=<%= version %>" type="module"></script>
</body>
</html>