<%- include('./_header', { pageID: 'access' }) %>
<main>
  <header>
    <h2>アクセス</h2>
  </header>
  <div class="content clearfix">
    <nav class="clearfix">
      <ul>
        <li @click="scrollTo('place')">所在地</li>
        <li @click="scrollTo('contact')">問い合わせ</li>
        <li @click="scrollTo('link')">関連リンク</li>
      </ul>
    </nav>
    <article>
      <section id="place">
        <h3>所在地</h3>
        <p>
          〒700-0082 岡山県岡山市北区津島中3丁目1-1<br>
          岡山大学工学部 4号館 602室
        </p>
        <div class="access-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1525.174819029267!2d133.92142378365403!3d34.68922069134763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35540673220a7fa9%3A0x3edf9825ed2b6210!2z44CSNzAwLTAwODIg5bKh5bGx55yM5bKh5bGx5biC5YyX5Yy65rSl5bO25Lit77yT5LiB55uu77yR4oiS77yRIOW3peWtpumDqDTlj7fppKg!5e0!3m2!1sja!2sjp!4v1714115077262!5m2!1sja!2sjp" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>
      <section id="contact">
        <h3>問い合わせ</h3>
        <ul>
          <li>Email： yukimat[at]okayama-u.ac.jp</li>
          <li>X/Twitter： <a href="https://twitter.com/cocolabJP">@cocolabJP（研究室）</a>, <a href="https://twitter.com/yukimatJP">@yukimatJP（教員）</a></li>
        </ul>
      </section>
      <section id="link">
        <h3>関連リンク</h3>
        <ul>
          <li><a href="https://www.engr.okayama-u.ac.jp/iem/research/">工学部 情報・電気・数理データサイエンス系<br>（https://www.engr.okayama-u.ac.jp/iem/research/）</a></li>
          <li><a href="https://www.cs.okayama-u.ac.jp/research/">工学部 情報・電気・数理データサイエンス系 情報工学コース<br>（https://www.cs.okayama-u.ac.jp/research/）</a></li>
        </ul>
      </section>
    </article>
  </div>
</main>
<%- include('./_footer') %>