<%- include('./_header', { pageID: 'access' }) %>
<main>
  <header>
    <h2>アクセス</h2>
  </header>
  <div class="content clearfix">
    <nav>
      <ul>
        <li @click="scrollTo('place')">所在地</li>
        <li @click="scrollTo('contact')">問い合わせ</li>
      </ul>
    </nav>
    <article>
      <section id="place">
        <h3>所在地</h3>
        <p>
          〒700-0082 岡山県岡山市北区津島中3丁目1-1<br>
          岡山大学工学部 4号館 602室
        </p>
      </section>
      <section id="contact">
        <h3>問い合わせ</h3>
        <p>
          yukimat[at]okayama-u.ac.jp
        </p>
      </section>
    </article>
  </div>
</main>
<%- include('./_footer') %>