<%- include('./_header', { pageID: 'access' }) %>
<main>
  <header>
    <h2>アクセス</h2>
  </header>
  <div class="content clearfix">
    <nav class="clearfix">
      <ul>
        <li @click="scrollToH3('place')">所在地</li>
        <li @click="scrollToH3('contact')">問い合わせ</li>
        <li @click="scrollToH3('public-relations')">情報発信</li>
        <li @click="scrollToH3('link')">関連リンク</li>
      </ul>
    </nav>
    <article>
      <section id="place">
        <h3><span>所在地</span></h3>
        <p>
          〒700-0082 岡山県岡山市北区津島中3丁目1-1<br>
          岡山大学工学部 4号館7階 701室（学生室） ・ 703室（教員室）
        </p>
        <p class="address-en">
          Engineering Building No.4, 7F, Room 701 (Student Room) / Room 703 (Faculty Room)<br>
          School of Engineering, Okayama University<br>
          3-1-1 Tsushimanaka, Kita-ku, Okayama, Okayama, 700-0082 Japan.
        </p>
        <div class="access-map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1525.174819029267!2d133.92142378365403!3d34.68922069134763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35540673220a7fa9%3A0x3edf9825ed2b6210!2z44CSNzAwLTAwODIg5bKh5bGx55yM5bKh5bGx5biC5YyX5Yy65rSl5bO25Lit77yT5LiB55uu77yR4oiS77yRIOW3peWtpumDqDTlj7fppKg!5e0!3m2!1sja!2sjp!4v1714115077262!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </section>
      <section id="contact">
        <h3><span>問い合わせ</span></h3>
        <ul>
          <li>Email： cocolab[at]okayama-u.ac.jp</li>
          <li>Tel: 086-251-8172（内線: 8172）</li>
          <li>X/Twitter： <a href="https://twitter.com/cocolabJP">@cocolabJP（研究室）</a>, <a href="https://twitter.com/yukimatJP">@yukimatJP（教員）</a></li>
        </ul>
      </section>
      <section id="public-relations">
        <h3><span>情報発信</span></h3>
        <ul>
          <li>X/Twitter： <a href="https://twitter.com/cocolabJP">@cocolabJP（主な情報発信源）</a></li>
          <li>YouTube： <a href="https://www.youtube.com/@cocolabJP">@cocolabJP（研究室PV）</a></li>
          <li>note： <a href="https://note.com/cocolabjp/m/m8dc0c6036545">cocolabjp（研究室ブログ）</a></li>
          <li>scrapbox： <a href="https://scrapbox.io/cocolab-jp/">cocolab-jp（研究業績ライブラリ）</a></li>
          <li>Instagram： <a href="https://www.instagram.com/cocolabjp/">@cocolabjp（たまに更新します）</a></li>
          <li>Threads： <a href="https://www.threads.net/@cocolabjp">@cocolabjp（たまに更新します）</a></li>
          <li>Facebook： <a href="https://www.facebook.com/cocolab.jpn">cocolab.jpn（稀に更新します）</a></li>
          <li>mixi2： <a href="https://mixi.social/@cocolab">@cocolab（稀に更新します）</a></li>
        </ul>
      </section>
      <section id="link">
        <h3><span>関連リンク</span></h3>
        <ul>
          <li><a href="https://www.engr.okayama-u.ac.jp/iem/">工学部 情報・電気・数理データサイエンス系<br>（https://www.engr.okayama-u.ac.jp/iem/）</a></li>
          <li><a href="https://www.cs.okayama-u.ac.jp/">工学部 情報・電気・数理データサイエンス系 情報工学コース<br>（https://www.cs.okayama-u.ac.jp/）</a></li>
          <li><a href="https://www.engr.okayama-u.ac.jp/ita/">工学部 情報工学先進コース<br>（https://www.engr.okayama-u.ac.jp/ita/）</a></li>
          <li><a href="https://yukimat.jp/">教員Webサイト（https://yukimat.jp/）</a></li>
        </ul>
      </section>
    </article>
  </div>
</main>
<%- include('./_footer') %>