<%- include('./_header', { pageID: 'project' }) %>
<main>
  <header>
    <h2>研究プロジェクト</h2>
  </header>
  <div class="content clearfix">
    <nav>
      <ul>
        <li @click="scrollTo('overview')">概要</li>
        <li>プロジェクト
          <ul>
            <li @click="scrollTo('emotour')">EmoTour</li>
            <li @click="scrollTo('musa')">MusA x EmoTour</li>
            <li @click="scrollTo('blece')">BLECE</li>
            <li @click="scrollTo('abacaas')">AbaCaaS</li>
            <li @click="scrollTo('discaas')">DisCaaS</li>
            <li @click="scrollTo('tongar')">Tongar</li>
            <li @click="scrollTo('sorashiru')">Sorashiru</li>
            <li @click="scrollTo('tameshiba')">ためしば</li>
            <li @click="scrollTo('minsapo')">みんサポ</li>
            <li @click="scrollTo('repot')">レポっと</li>
            <li @click="scrollTo('nishorobo')">にしょロボくん</li>
          </ul>
        </li>
      </ul>
    </nav>
    <article>
      <section id="overview">
        <h3>概要</h3>
        <div class="clearfix container-flex-right-img">
          <img src="./img/project-1.png" alt="人から見える「世界」を理解し、ナビする">
          <h4>人から見える「世界」を理解し、ナビする</h4>
          <p>
            人から見えている「世界」は、IoTで観測できる「世界」とは少し異なっていることがあります。
            IoTがこの“差”を理解できるようになれば、これまでにないナビゲーションや情報推薦が実現できる可能性があります。
            そのために、人を情報システムに組み込むHuman-in-the-loopなアプローチ（参加型センシングなど）によって、人から見えている「世界」をモデリングする研究について取り組んでいます。
          </p>
        </div>
        <div class="clearfix container-flex-right-img">
          <img src="./img/project-2.png" alt="新しいIoT・AIを発明する">
          <h4>新しいIoT・AIを発明する</h4>
          <p class="clearfix">
            現在市販されているIoTを用いることで、様々な人や環境をセンシングしたり情報を提示したりすることが可能ですが、全てが網羅されているわけではありません。新たなIoTやAIを発明することによって、今までにセンシングできなかった情報を得られたり、それに基づく情報提示が実現でる可能性があります。そのために、ハードウェアからソフトウェアに至るまで、IoTのセンシング・データ処理・情報提示の方法を編み出す研究に取り組んでいます。
          </p>
        </div>
        <div class="clearfix container-flex-right-img">
          <img src="./img/project-3.png" alt="プラットフォーム・コミュニティを創る">
          <h4>プラットフォーム・コミュニティを創る</h4>
          <p class="clearfix">
            研究開発したIoT・AIを社会実装していくためには、ITに精通していない人々でも簡単に技術を扱うことができ、かつ、持続可能な形で運用できるようなシステム・仕組みを構築することが肝要です。その実現に向けて、街に存在する様々なコミュニティや活動と連携しつつ、システムを運用する方法を実践的に模索する研究に取り組んでいます。
          </p>
        </div>
      </section>
      <section>
        <h3>研究プロジェクト</h3>
        <div class="project-card" id="emotour">
          <h4>EmoTour： 観光客のマルチモーダルな感情・満足度推定</h4>
          <p>
            スマートフォンをはじめとするスマートデバイスを活用し、観光中に有益な情報が得られる「スマートツーリズム」が注目を集めています。このスマートツーリズムにおいて、より観光客の状況に即した観光情報を提供するためには、観光客が実地で抱く心理状態（感情・満足度など）を理解し考慮することが重要です。
          </p>
          <p>
            そこで本研究では、観光客の心理状態が観光中の無意識的な仕草、例えば頭や体の動きや表情や声色といった形で現れるという仮説のもと、その仕草を計測・分析することで観光中の観光客の心理状態を推定する手法の実現を目指しています。
          </p>
          <p><a href="http://research.ubi-lab.com/ja/emo-tour/">▶ 詳細はこちら</a></p>
        </div>
        <div class="project-card" id="musa">
          <h4>MusA x EmoTour： 理解度・興味によって変化する美術館ガイダンス</h4>
          <p>
            美術館は芸術作品を鑑賞する場として人々に親しまれています。しかし、美術館には膨大な数の展示作品があり、鑑賞者は興味や関心に合わせて作品を鑑賞することが難しいという課題があります。
          </p>
          <p>
            本研究では、鑑賞者の心理状態を芸術作品を鑑賞する際の仕草のセンシングに基づき推定することで、鑑賞者の興味や関心に合わせたナビゲーションの提供や、鑑賞体験の向上につなげることを目指しています。
          </p>
        </div>
        <div class="project-card" id="blece">
          <h4>BLECE： BLE電波受信状況を用いた公共空間の混雑度・体感混雑度推定</h4>
          <p>
            都市内で滞在・移動する人々にとって関心の高い情報の一つが、交通機関や飲食店、公共施設などといった様々な空間における混雑度情報です。しかしながら既存の混雑度計測サービスはそれぞれ異なる方式でデータ収集・情報提供がなされており、ユーザが横断的に混雑度情報を取得することが難しいことが問題となります。
          </p>
          <p>
            本研究では、人々が持つスマートフォンなどの電子機器から発されるBLE（Bluetooth Low Energy）の電波を環境側からスキャンし、電波受信状況からある特定空間の混雑度を推定することにより、場所や環境に依存しないユニバーサルな混雑度推定手法の確立を目指しています。
          </p>
          <p><a href="https://www.iopt.jp/blece">▶ 詳細はこちら</a></p>
        </div>
        <div class="project-card" id="abacaas">
          <h4>AbaCaaS： 卓上カメラを用いた珠算学習支援システム</h4>
          <p>
            算術力を獲得するための方法の一つとして、算盤（そろばん）を用いた計算、すなわち「珠算」が現代においても活用されています。珠算による計算は様々な方法・順序で「珠」を操作する必要があるため、習得には長期に渡る繰り返し学習を要することが知られています。学習過程では、様々な計算ミスや苦手な珠操作が生じますが、これらの「つまづき」には規則性・パターンがあると考えられます。
          </p>
          <p>
            そこで、卓上カメラをセンサとして用いることで算盤の盤面（入力値）を推定するとともに、苦手を克服するための個人に合わせた問題生成・提示などによって、「珠算」の能力習得を支援する方法の確立を目指しています。
          </p>
          <p><a href="http://research.ubi-lab.com/ja/abacaas/">▶ 詳細はこちら</a></p>
        </div>
        <div class="project-card" id="discaas">
          <h4>DisCaaS： 360度カメラをセンサとして用いるディスカッション中のマイクロ行動分析</h4>
          <p>
          </p>
          <p><a href="http://research.ubi-lab.com/ja/discaas/">▶ 詳細はこちら</a></p>
        </div>
        <div class="project-card" id="tongar">
          <h4>Tongar： トングでゴミ拾いするだけでポイ捨てゴミの種別・位置を記録するシステム</h4>
          <p>
            近年、奈良公園のシカをはじめ、野生の動物が誤ってポイ捨てゴミを食べて死に至る状況が発生しています。この点にとどまらず“ポイ捨て”は深刻な環境問題であり、解決が望まれています。Tongarは、ゴミ拾いに利用するトングにカメラを搭載し「どこ」で「どんな」ゴミが「いつ」捨てられているのかの情報を自動で収集するシステムです。
          </p>
          <p><a href="http://research.ubi-lab.com/ja/tongar/">▶ 詳細はこちら</a></p>
        </div>
        <div class="project-card" id="sorashiru">
          <h4>DisCaaS： </h4>
          <p>
          </p>
          <p><a href="https://www.iopt.jp/sorashiru/">▶ 詳細はこちら</a></p>
        </div>
        <div class="project-card" id="tameshiba">
          <h4>ためしば： ボトムアップ式のスマートシティアプリ</h4>
          <p>
            自治体だけでなく、市民や民間企業、大学といった様々な組織に属する人たちみんなで創るスマートシティアプリです。シビックテック（Civic Tech）の考え方で、オープンに街を良くするためのプラットフォームとして利用できるようにすることを目指しています。
          </p>
          <p><a href="http://research.ubi-lab.com/ja/tameshiba/">▶ 詳細はこちら</a></p>
        </div>
        <div class="project-card" id="minsapo">
          <h4>みんサポ生駒</h4>
          <p>
            
          </p>
          <p><a href="">▶ 詳細はこちら</a></p>
        </div>
        <div class="project-card" id="repot">
          <h4>レポっと ブラウザで動作するユーザ参加型位置情報付き写真収集システム</h4>
          <p>
            
          </p>
          <p><a href="https://app.iopt.jp/signin">▶ 詳細はこちら</a></p>
        </div>
        <div class="project-card" id="nishorobo">
          <h4>にしょロボくん</h4>
          <p>
            
          </p>
          <p><a href="https://www.iopt.jp/repot">▶ 詳細はこちら</a></p>
        </div>
      </section>
    </article>
  </div>
</main>
<%- include('./_footer') %>