<%- include('./_header', { pageID: 'publication' }) %>
<main>
  <header>
    <h2>研究業績</h2>
  </header>
  <div class="content clearfix">
    <nav class="clearfix">
      <ul>
        <li @click="scrollTo('2024')">2024年度
          <ul>
            <li @click.stop="scrollTo('2024-m')">特集・解説</li>
            <li @click.stop="scrollTo('2024-j')">論文誌・ジャーナル</li>
            <li @click.stop="scrollTo('2024-i')">国際会議</li>
            <li @click.stop="scrollTo('2024-d')">国内研究会</li>
            <li @click.stop="scrollTo('2024-t')">講演・LT</li>
            <li @click.stop="scrollTo('2024-p')">メディア掲載</li>
            <li @click.stop="scrollTo('2024-a')">受賞</li>
          </ul>
        </li>
        <li @click="scrollTo('2023')">2023年度まで
          <ul>
            <li @click.stop="scrollTo('2023-b')">書籍</li>
            <li @click.stop="scrollTo('2023-j')">論文誌・ジャーナル</li>
          </ul>
        </li>
      </ul>
    </nav>
    <article>
      <section id="2024">
        <h3>2024年度</h3>
        <h4 id="2024-m">特集・解説</h4>
        <ol class="publication">
          <li class="ref-item">
            <p><span class="author">松田裕貴</span>, 諏訪博彦:
            <span class="title">“《特集 ナラティブと人工知能》センシングと行動変容におけるナラティブ...ってなんだ?,”</span>
            人工知能, Vol.39, No.5, pp.638-644, 2024.</p>
            <ul><li><a href="https://doi.org/10.11517/jjsai.39.5_638">DOI</li></ul>
          <li class="ref-item">
            <p><span class="author">松田裕貴</span>:
            <span class="title">“オフィスワーカーの心身と環境センシングに向けたアプリケーションの開発と評価,”</span>
            生体センシング技術の開発とヘルスケア、遠隔診断への応用, pp.297-306, 2024.</p>
            <ul><li><a href="https://www.gijutu.co.jp/doc/b_2245.htm">Link</a></li></ul>
          <li class="ref-item">
            <p><span class="author">松田裕貴</span>:
            <span class="title">“ICTそろばん学習支援システム「AbaCaaS」,”</span>
            電気計算 2024年6月号, Vol.92, No.6, pp.51-56, 2024.</p>
            <ul><li><a href="https://www.denkishoin.co.jp/products/view/2046">Link</a></li>
                <li><a href="https://www.amazon.co.jp/dp/B0CWN9KDKG/">Amazon</a></li></ul>
        </ol>
        <h4 id="2024-j">論文誌・ジャーナル</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>Annalena Aicher, <span class="author">Yuki Matsuda</span>, Keichii Yasumoto, Wolfgang Minker, Elisabeth André, and Stefan Ultes:
            <span class="title">“Enhancing Reflective and Conversational User Engagement in Argumentative Dialogues with Virtual Agents,”</span>
            Multimodal Technologies and Interaction, Vol.8, No.8:71, pp.1-44, 2024.</p>
            <ul><li><a href="https://doi.org/10.3390/mti8080071">DOI</a></li><li><a href="https://www.mdpi.com/2414-4088/8/8/71/pdf?version=1722929669">PDF</a></li></ul>
          <li class='ref-item'>
            <p>Daiki Mayumi, Yugo Nakamura, <span class="author">Yuki Matsuda</span>, Shinya Misaki, Keiichi Yasumoto:
            <span class="title">“Aromug: a Mug-type Olfactory Interface to Enhance the Sweetness Perception of Beverages,”</span>
            IEEE Access, Vol.12, pp.78366-78378, 2024.</p>
            <ul><li><a href="https://doi.org/10.1109/ACCESS.2024.3401392">DOI</a></li><li><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10530960">PDF</a></li></ul>
          <li class='ref-item'>
            <p><span class="author">Yuki Matsuda</span>:
            <span class="title">“Abacus Manipulation Understanding by Behavior Sensing Utilizing Document Camera as a Sensor,”</span>
            International Journal of Activity and Behavior Computing, Vol.2024, No.1, pp.1-16, 2024.</p>
            <ul><li><a href="https://doi.org/10.60401/ijabc.2">DOI</a></li><li><a href="https://www.jstage.jst.go.jp/article/ijabc/2024/1/2024_2/_pdf/-char/en">PDF</a></li></ul>
        </ol>
        <h4 id="2024-i">国際会議</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>Carolin Schindler, Daiki Mayumi, <span class="author">Yuki Matsuda</span>, Niklas Rach, Keiichi Yasumoto, Wolfgang Minker:
            <span class="title">“Exploring the Impact of Non-Verbal Virtual Agent Behavior on User Engagement in Argumentative Dialogues,”</span>
            The 26th ACM International Conference on Multimodal Interaction (ICMI '24), pp.x-x, 2024. (accepted)</p>
            <ul><li><a href="https://icmi.acm.org/2024/">Link</a></li></ul>
          <li class='ref-item'>
            <p>Annalena Aicher, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto, Wolfgang Minker, Elisabeth André, Stefan Ultes:
            <span class="title">“Exploring the Impact of Non-Verbal Virtual Agent Behavior on User Engagement in Argumentative Dialogues,”</span>
            The  12th International Conference on Human-Agent Interaction (HAI '24), pp.x-x, 2024. (accepted)</p>
            <ul><li><a href="https://hai-conference.net/hai2024/">Link</a></li></ul>
          <li class='ref-item'>
            <p>Victor Romero II, Tomokazu Matsui, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“Towards Opportunistic Federated Learning Using Independent Subnetwork Training,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24), pp.174-181, 2024.</p>
            <ul><li><a href="https://smartcomp.w.waseda.jp/accepted-papers/">Link</a></li>
                <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00044">DOI</a></li>
                <li><a href="/publication/files/202406_SmartComp_Victor.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>Haruka Sakagami, Osamu Yamada, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“A Method for City-wide PoI-level Congestion Prediction via Assimilation of Actual and Simulation-based PoI Congestion Data,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24), pp.39-46, 2024.</p>
            <ul><li><a href="https://smartcomp.w.waseda.jp/accepted-papers/">Link</a></li>
                <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00027">DOI</a></li>
                <li><a href="/publication/files/202406_SmartComp_Sakagami.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p><span class="author">Yuki Matsuda</span>:
            <span class="title">“A Table-top Interface for Real-time Coaching in Abacus Learning,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24, Demo), pp.243-245, 2024.</p>
            <ul><li><a href="https://smartcomp.w.waseda.jp/accepted-papers/">Link</a></li>
                <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00056">DOI</a></li>
                <li><a href="/publication/files/202406_SmartComp_Matsuda.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>Chingyuan Lin, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“Detecting Distress Changes Using Multimodal Data During Interaction with A Smart Speaker,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24, SmartSys '24), pp.352-357, 2024.</p>
            <ul><li><a href="http://smartsys2024.dii.unipi.it/">Link</a></li>
                <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00080">DOI</a></li>
                <li><a href="/publication/files/202406_SmartComp_Lin.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>Osamu Yamada, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“Crowd Flow Prediction from Mobile Traces Through Time Series PoI Stay Counts,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24, SSC '24), pp.268-273, 2024.</p>
            <ul><li><a href="http://ssc2024.unime.it/">Link</a></li>
                <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00066">DOI</a></li>
                <li><a href="/publication/files/202406_SmartComp_Yamada.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>Lucas Maris, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto:
            <span class="title">“Protecting Cross-camera Person Re-identification Data with Image Differential Privacy,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24, BITS '24), pp.388-393, 2024.</p>
            <ul><li><a href="https://www.yama.info.waseda.ac.jp/en/bits2024">Link</a></li>
                <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00086">DOI</a></li>
                <li><a href="/publication/files/202406_SmartComp_Lucas.pdf">PDF</a></li></ul>
        </ol>
        <h4 id="2024-d">国内研究会</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>土橋有理, 秦恭史, <span class="author">松田裕貴</span>, 諏訪博彦, 安本慶一:
              <span class="title">“ゲーミフィケーションを活用した外出交流促進システムの開発,”</span>
              第32回 マルチメディア通信と分散処理ワークショップ (DPSWS '24), pp.x-x, 広島県廿日市市, 2024年10月.</p>
            <ul><li><a href="https://www.dpsws.org/2024/">Link</a></li>
                <li><a href="/publication/files/202410_DPSWS_Tsuchihashi.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>筒井巽水, <span class="author">松田裕貴</span>, 秦恭史, 諏訪博彦, 峯英一郎, 稲場圭信, 安本慶一:
              <span class="title">“スマートフォンのブラウザ記憶領域を用いた災害情報流通システムの実装,”</span>
              第32回 マルチメディア通信と分散処理ワークショップ (DPSWS '24), pp.x-x, 広島県廿日市市, 2024年10月.</p>
            <ul><li><a href="https://www.dpsws.org/2024/">Link</a></li>
                <li><a href="/publication/files/202410_DPSWS_Tsutsui.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>吉村太斗, 林虎太朗, 新井イスマイル, <span class="author">松田裕貴</span>:
              <span class="title">“BLEのランダムMACアドレスを用いたODデータ推定に向けた初期検討,”</span>
              2024年度 情報処理学会関西支部 支部大会, pp.x-x, オンライン, 2024年9月.</p>
            <ul><li><a href="https://kansai.ipsj.or.jp/guide/shibutaikai-2024.html">Link</a></li>
                <li><a href="/publication/files/202409_IPSJ-Kansai_Yoshimura.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>林虎太朗, 吉村太斗, 諏訪博彦, <span class="author">松田裕貴</span>:
              <span class="title">“複数台のBLEスキャナを用いた都市人流推定に向けた基礎検討,”</span>
              2024年度 情報処理学会関西支部 支部大会, pp.x-x, オンライン, 2024年9月.</p>
            <ul><li><a href="https://kansai.ipsj.or.jp/guide/shibutaikai-2024.html">Link</a></li>
                <li><a href="/publication/files/202409_IPSJ-Kansai_Hayashi.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>鳥垣耀平, 諏訪博彦, 安本慶一, <span class="author">松田裕貴</span>:
              <span class="title">“美術館における鑑賞者の心理状態推定に向けた基礎分析,”</span>
              2024年度 情報処理学会関西支部 支部大会, pp.x-x, オンライン, 2024年9月.</p>
            <ul><li><a href="https://kansai.ipsj.or.jp/guide/shibutaikai-2024.html">Link</a></li>
                <li><a href="/publication/files/202409_IPSJ-Kansai_Torigaki.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>菊池尊勝, 池永拓海, 細川蓮, <span class="author">松田裕貴</span>, 諏訪博彦, 安本慶一:
              <span class="title">“ユーザー参加型BLEスキャニングによる都市空間の混雑度推定に向けた検討,”</span>
              2024年度 情報処理学会関西支部 支部大会, pp.x-x, オンライン, 2024年9月.</p>
            <ul><li><a href="https://kansai.ipsj.or.jp/guide/shibutaikai-2024.html">Link</a></li>
                <li><a href="/publication/files/202409_IPSJ-Kansai_Kikuchi.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>古城司, 由田翔吾, 坪内孝太, <span class="author">松田裕貴</span>, 諏訪博彦, 安本慶一:
              <span class="title">“野生動物の生息域推定精度向上のためのLiDAR点群データによる痕跡分類手法の提案,”</span>
              2024年度 情報処理学会関西支部 支部大会, pp.x-x, オンライン, 2024年9月.</p>
            <ul><li><a href="https://kansai.ipsj.or.jp/guide/shibutaikai-2024.html">Link</a></li>
                <li><a href="/publication/files/202409_IPSJ-Kansai_Kojo.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>立花巧樹, 呉健朗, <span class="author">松田裕貴</span>, 諏訪博彦, 安本慶一:
            <span class="title">“未知ゴミ識別のための判定手法の比較と実用化に向けた検討,”</span>
            マルチメディア, 分散, 協調とモバイル（DICOMO 2024）シンポジウム論文集, pp.33-38, 岩手県花巻市, 2024年6月.</p>
            <ul><li><a href="https://dicomo.org/">Link</a></li>
                <li><a href="/publication/files/202407_DICOMO_Tachibana.pdf">PDF</a></li>
                <li class="award"><a href="">野口賞（デモ賞）</a></li>
                <li class="award"><a href="">ヤングリーサチャ賞</a></li></ul>
        </ol>
        <h4 id="2024-t">講演・LT</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p><span class="author">松田裕貴</span>:
            <span class="title">“人の感覚を理解するAIoTの実現に向けて,”</span>
            第23回情報科学技術フォーラム（FIT '24）, イベント「IoTが拓く未来：センサデータから見る人間の世界」, 2024.</p>
            <ul><li><a href="https://www.ipsj.or.jp/event/fit/fit2024/abstract/data/html/event/event_A-5.html">LInk</a></li></ul>
          <li class='ref-item'>
            <p><span class="author">松田裕貴</span>:
            <span class="title">“人や環境の状況を理解・変容するためのAIoT (Artificial Intelligence of Things),”</span>
            第54回岡山情報通信技術研究会（OICT54）, 2024.</p>
          <li class='ref-item'>
            <p><span class="author">松田裕貴</span>, 土田修平, 越後宏紀:
            <span class="title">“人にやさしい社会を実現する Internet of Things(IoT),”</span>
            河合塾みらい探究プログラム「情報科学の最先端をのぞいてみよう！〜若手トップ研究者が紹介〜」, 2024.</p>
            <ul><li><a href="https://www.kawai-juku.ac.jp/event/spc/k-ship/detail-s/#program7">Link</a></li></ul>
          <li class='ref-item'>
            <p><span class="author">松田裕貴</span>:
            <span class="title">“AIoTによるコンヴィヴィアル社会の実現に向けた研究紹介,”</span>
            岡山大学 令和6年度第1回 Cypher研究会, 2024.</p>
            <ul><li><a href="https://www.cypher.okayama-u.ac.jp/seminar/%E4%BB%A4%E5%92%8C6%E5%B9%B4%E5%BA%A6%E7%AC%AC1%E5%9B%9Ecypher%E7%A0%94%E7%A9%B6%E4%BC%9A/">Link</a></li></ul>
          <li class='ref-item'>
            <p><span class="author">松田裕貴</span>, 佐藤拓也:
            <span class="title">“写真で街の様子を共有するプラットフォーム「レポっと」の魅力を知ろう！,”</span>
            シビックテックさいたま 4月勉強会, 2024.</p>
            <ul><li><a href="https://www.facebook.com/events/778513637554136">Link</a></li></ul>
        </ol>
        <h4 id="2024-p">メディア掲載</h4>
        <ol class="multi-line">
          <li><p>The Gov't of Japan
            <span>Want to eat healthy and turn your meals into works of art?</span>
            <span>2024.07.19</span></p>
            <ul><li><a href="https://x.com/JapanGov/status/1814178396588708049">X（Twitter）</a></li>
                <li><a href="https://www.facebook.com/JapanGov/videos/1925759991253692/">Facebook</a></li></ul>
          <li><p>Japan Times
            <span>Japan’s gamified environment apps target a greener mindset</span>
            <span>2024.06.16</span></p>
            <ul><li><a href="https://www.japantimes.co.jp/environment/2024/06/16/sustainability/gamification-environment-apps-japan/">Link</a></li></ul>
        </ol>
        <h4 id="2024-a">受賞</h4>
        <ol class="multi-line">
          <li><p>電子情報通信学会 センサネットワークとモバイルインテリジェンス研究会 「2023年度最優秀発表賞」
            <span>書画カメラを用いた珠算行動センシング</span>
            <span>松田裕貴</span>
            <span>2024.07.18</span></p>
            <ul><li><a href="https://www.ieice.org/~semi/pub/ja/awards-ja.html">Link</a></li></ul>
          <li><p>情報処理学会 DICOMO 2024 「野口賞（デモ賞）」
            <span>未知ゴミ識別のための判定手法の比較と実用化に向けた検討</span>
            <span>立花巧樹, 呉健朗, 松田裕貴, 諏訪博彦, 安本慶一</span>
            <span>2024.06.28</span></p>
            <ul><li><a href="https://dicomo.org/">Link</a></li></ul>
          <li><p>情報処理学会 DICOMO 2024 「ヤングリサーチャ賞」
            <span>未知ゴミ識別のための判定手法の比較と実用化に向けた検討</span>
            <span>立花巧樹</span>
            <span>2024.06.28</span></p>
            <ul><li><a href="https://dicomo.org/">Link</a></li></ul>
        </ol>
      </section>
      <section id="2023">
        <h3>2023年度まで</h3>
        <h4 id="2023-b">書籍</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>安本慶一, 荒川豊, <span class="author">松田裕貴</span>:
            <span class="title">“スッキリ!がってん!IoTの本,”</span>
            pp.1-143, 2021, 電気書院.</p>
            <ul><li><a href="
https://www.amazon.co.jp/dp/4485600467">Amazon</a></li>
                <li><a href="
https://honto.jp/netstore/pd-book_31129333.html">Honto</a></li></ul>
        </ol>
        <h4 id="2023-j">論文誌・ジャーナル</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>Jiaxuan Zhang, <span class="author">Yuki Matsuda</span>, Manato Fujimoto, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“Movement Recognition via Channel-Activation-Wise sEMG Attention,”</span>
            Methods, Vol.218, pp.39-47, 2023.</p>
            <ul><li><a href="https://doi.org/10.1016/j.ymeth.2023.06.011">DOI</a></li>
                <li><a href="https://www.sciencedirect.com/science/article/pii/S1046202323001093/pdfft?md5=70aad5b254e74e9f0a756b1c3a4da250&pid=1-s2.0-S1046202323001093-main.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>Daisuke Nose, Tomokazu Matsui, Takuya Otsuka, <span class="author">Yuki Matsuda</span>, Tadaaki Arimura, Keiichi Yasumoto, Masahiro Sugimoto, Shin-Ichiro Miura:
            <span class="title">“Development of Machine Learning-Based Web System for Estimating Pleural Effusion Using Multi-Frequency Bioelectrical Impedance Analyses,”</span>
            Journal of Cardiovascular Development and Disease, Vol.10, No.7:291, pp.1-14, 2023.</p>
            <ul><li><a href="https://doi.org/10.3390/jcdd10070291">DOI</a></li>
                <li><a href="https://www.mdpi.com/2308-3425/10/7/291/pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>Koki Tachibana, Yugo Nakamura, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“ACOGARE: Acoustic-Based Litter Garbage Recognition Utilizing Smartwatch,”</span>
            Sustainability, Vol.15, No.13:10079, pp.1-17, 2023.</p>
            <ul><li><a href="https://doi.org/10.3390/su151310079">DOI</a></li>
                <li><a href="https://yukimat.jp/data/pdf/paper/ACOGARE_j_202306_tachibana_sustainability.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p><span class="author">松田裕貴</span>, 尾崎えり子, 日高興人, 吉田友子, 小野博之, 仲林政子, 西浦弘望, 久保進也, 城野聖一:
            <span class="title">“にしょロボくん： 地域の魅力発信アプリの共創を題材とするGIGAスクール端末を用いた全校縦割り活動の実践,”</span>
            情報処理学会論文誌デジタルプラクティス（TDP）, Vol.4, No.2, pp.55-66 2023.</p>
            <ul><li><a href="
http://id.nii.ac.jp/1001/00225512/">Link</a></li>
                <li><a href="https://yukimat.jp/data/pdf/paper/Nishorobo_j_202304_yukimat_TDP.pdf">PDF</a></li></ul>
          <li class='ref-item'>
            <p>Yugo Nakamura, Rei Nakaoka, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto:
            <span class="title">“eat2pic: An Eating-Painting Interactive System to Nudge Users into Making Healthier Diet Choices,”</span>
            Proceedings of the ACM on Interactive, Mobile, Wearable and Ubiquitous Technologies (IMWUT), Vol.7, No.1, pp.1-23, 2023.</p>
            <ul><li><a href="
https://doi.org/10.1145/3580784">DOI</a></li>
                <li><a href="https://dl.acm.org/doi/pdf/10.1145/3580784">PDF</a></li></ul>
        </ol>
      </section>
      <p>※このページは準備中です。教員の業績は<a href="https://yukimat.jp/">個人サイト（https://yukimat.jp/）</a>を御覧ください。</p>
    </article>
  </div>
</main>
<%- include('./_footer') %>