<%- include('./_header', { pageID: 'publication' }) %>
<main>
  <header>
    <h2>研究業績</h2>
  </header>
  <div class="content clearfix">
    <nav>
      <ul>
        <li @click="scrollTo('2024')">2024年度</li>
        <li @click="scrollTo('2023')">2023年度まで</li>
      </ul>
    </nav>
    <article>
      <section id="2024">
        <h3>2024年度</h3>
        
      </section>
      <section id="2023">
        <h3>2023年度まで</h3>
        <h4>書籍</h4>
        <ol class="publication">
          <li>
            安本慶一, 荒川豊, <span class="author">松田裕貴</span>:
            <span class="title">“スッキリ!がってん!IoTの本,”</span>
            pp.1-143, 2021, 電気書院.
          </li>
        </ol>
        <h4>論文誌・ジャーナル</h4>
        <ol class="publication">
          <li>
            <span class="author">松田裕貴</span>, 尾崎えり子, 日高興人, 吉田友子, 小野博之, 仲林政子, 西浦弘望, 久保進也, 城野聖一:
            <span class="title">“にしょロボくん： 地域の魅力発信アプリの共創を題材とするGIGAスクール端末を用いた全校縦割り活動の実践,”</span>
            情報処理学会論文誌デジタルプラクティス（TDP）, Vol.4, No.2, pp.55-66 2023.
          </li>
        </ol>
      </section>
      <p>※このページは準備中です。教員の業績は<a href="https://yukimat.jp/">個人サイト（https://yukimat.jp/）</a>を御覧ください。</p>
    </article>
  </div>
</main>
<%- include('./_footer') %>