<%- include('./_header', { pageID: 'publication' }) %>
<main>
  <header>
    <h2>研究業績</h2>
  </header>
  <div class="content clearfix">
    <nav class="clearfix">
      <ul>
        <li @click="scrollTo('2024')">2024年度
          <ul>
            <li @click.stop="scrollTo('2024-m')">特集・解説</li>
            <li @click.stop="scrollTo('2024-j')">論文誌・ジャーナル</li>
            <li @click.stop="scrollTo('2024-i')">国際会議</li>
            <li @click.stop="scrollTo('2024-d')">国内研究会</li>
            <li @click.stop="scrollTo('2024-t')">講演・LT</li>
          </ul>
        </li>
        <li @click="scrollTo('2023')">2023年度まで
          <ul>
            <li @click.stop="scrollTo('2023-b')">書籍</li>
            <li @click.stop="scrollTo('2023-j')">論文誌・ジャーナル</li>
          </ul>
        </li>
      </ul>
    </nav>
    <article>
      <section id="2024">
        <h3>2024年度</h3>
        <h4 id="2024-m">特集・解説</h4>
        <ol class="publication">
          <li class="ref-item">
            <p><span class="author">松田裕貴</span>:
            <span class="title">“オフィスワーカーの心身と環境センシングに向けたアプリケーションの開発と評価,”</span>
            生体センシング技術の開発とヘルスケア、遠隔診断への応用, pp.297-306, 2024.</p>
            <ul><li><a href="https://www.gijutu.co.jp/doc/b_2245.htm">Link</a></li></ul>
          <li class="ref-item">
            <p><span class="author">松田裕貴</span>:
            <span class="title">“ICTそろばん学習支援システム「AbaCaaS」,”</span>
            電気計算 2024年6月号, Vol.92, No.6, pp.51-56, 2024.</p>
            <ul><li><a href="https://www.denkishoin.co.jp/products/view/2046">Link</a></li><li><a href="https://www.amazon.co.jp/dp/B0CWN9KDKG/">Amazon</a></li></ul>
        </ol>
        <h4 id="2024-j">論文誌・ジャーナル</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>Daiki Mayumi, Yugo Nakamura, <span class="author">Yuki Matsuda</span>, Shinya Misaki, Keiichi Yasumoto:
            <span class="title">“Aromug: a Mug-type Olfactory Interface to Enhance the Sweetness Perception of Beverages,”</span>
            IEEE Access, Vol.12, pp.78366-78378, 2024.</p>
            <ul><li><a href="https://doi.org/10.1109/ACCESS.2024.3401392">DOI</a></li><li><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=10530960">PDF</a></li></ul>
          <li class='ref-item'>
            <p><span class="author">Yuki Matsuda</span>:
            <span class="title">“Abacus Manipulation Understanding by Behavior Sensing Utilizing Document Camera as a Sensor,”</span>
            International Journal of Activity and Behavior Computing, Vol.2024, No.1, pp.1-16, 2024.</p>
            <ul><li><a href="https://doi.org/10.60401/ijabc.2">DOI</a></li><li><a href="https://www.jstage.jst.go.jp/article/ijabc/2024/1/2024_2/_pdf/-char/en">PDF</a></li></ul>
        </ol>
        <h4 id="2024-i">国際会議</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>Annalena Aicher, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto, Wolfgang Minker, Elisabeth André, Stefan Ultes:
            <span class="title">“Exploring the Impact of Non-Verbal Virtual Agent Behavior on User Engagement in Argumentative Dialogues,”</span>
            The 24th ACM International Conference on Intelligent Virtual Agents (IVA '24), 2024. (accepted)</p>
            <ul><li><a href="https://iva.acm.org/2024/">Link</a></li></ul>
          <li class='ref-item'>
            <p>Victor Romero II, Tomokazu Matsui, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“Towards Opportunistic Federated Learning Using Independent Subnetwork Training,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24), 2024. (accepted)</p>
            <ul><li><a href="https://smartcomp.w.waseda.jp/accepted-papers/">Link</a></li></ul>
          <li class='ref-item'>
            <p>Haruka Sakagami, Osamu Yamada, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“A Method for City-wide PoI-level Congestion Prediction via Assimilation of Actual and Simulation-based PoI Congestion Data,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24), 2024. (accepted)</p>
            <ul><li><a href="https://smartcomp.w.waseda.jp/accepted-papers/">Link</a></li></ul>
          <li class='ref-item'>
            <p><span class="author">Yuki Matsuda</span>:
            <span class="title">“A Table-top Interface for Real-time Coaching in Abacus Learning,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24, Demo), 2024. (accepted)</p>
            <ul><li><a href="https://smartcomp.w.waseda.jp/accepted-papers/">Link</a></li></ul>
          <li class='ref-item'>
            <p>Chingyuan Lin, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“Detecting Distress Changes Using Multimodal Data During Interaction with A Smart Speaker,”</span>
            The 9th IEEE Workshop on Smart Service Systems (SmartSys '24), 2024. (accepted)</p>
            <ul><li><a href="http://smartsys2024.dii.unipi.it/">Link</a></li></ul>
          <li class='ref-item'>
            <p>Osamu Yamada, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“Crowd Flow Prediction from Mobile Traces Through Time Series PoI Stay Counts,”</span>
            The 10th Workshop on Sensors and Smart Cities (SSC '24), 2024. (accepted)</p>
            <ul><li><a href="http://ssc2024.unime.it/">Link</a></li></ul>
          <li class='ref-item'>
            <p>Lucas Maris, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto:
            <span class="title">“Protecting Cross-camera Person Re-identification Data with Image Differential Privacy,”</span>
            The 8th International Workshop on Big Data and IoT Security in Smart Computing (BITS '24), 2024. (accepted)</p>
            <ul><li><a href="https://www.yama.info.waseda.ac.jp/en/bits2024">Link</a></li></ul>
        </ol>
        <h4 id="2024-d">国内研究会</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>立花巧樹, 呉健朗, <span class="author">松田裕貴</span>, 諏訪博彦, 安本慶一:
            <span class="title">“未知ゴミ識別のための判定手法の比較と実用化に向けた検討,”</span>
            マルチメディア, 分散, 協調とモバイル（DICOMO 2024）シンポジウム論文集, pp.x-x, 岩手県花巻市, 2024年6月.</p>
            <ul><li><a href="https://dicomo.org/">Link</a></li></ul>
        </ol>
        <h4 id="2024-t">講演・LT</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p><span class="author">松田裕貴</span>, 佐藤拓也:
            <span class="title">“写真で街の様子を共有するプラットフォーム「レポっと」の魅力を知ろう！,”</span>
            シビックテックさいたま 4月勉強会, 2024.</p>
            <ul><li><a href="https://www.facebook.com/events/778513637554136">Link</a></li></ul>
          </li>
        </ol>
      </section>
      <section id="2023">
        <h3>2023年度まで</h3>
        <h4 id="2023-b">書籍</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>安本慶一, 荒川豊, <span class="author">松田裕貴</span>:
            <span class="title">“スッキリ!がってん!IoTの本,”</span>
            pp.1-143, 2021, 電気書院.</p>
            <ul>
              <li><a href="
https://www.amazon.co.jp/dp/4485600467">Amazon</a></li>
              <li><a href="
https://honto.jp/netstore/pd-book_31129333.html">Honto</a></li>
            </ul>
          </li>
        </ol>
        <h4 id="2023-j">論文誌・ジャーナル</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>Jiaxuan Zhang, <span class="author">Yuki Matsuda</span>, Manato Fujimoto, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“Movement Recognition via Channel-Activation-Wise sEMG Attention,”</span>
            Methods, Vol.218, pp.39-47, 2023.</p>
            <ul>
              <li><a href="https://doi.org/10.1016/j.ymeth.2023.06.011">DOI</a></li>
              <li><a href="https://www.sciencedirect.com/science/article/pii/S1046202323001093/pdfft?md5=70aad5b254e74e9f0a756b1c3a4da250&pid=1-s2.0-S1046202323001093-main.pdf">PDF</a></li>
            </ul>
          </li>
          <li class='ref-item'>
            <p>Daisuke Nose, Tomokazu Matsui, Takuya Otsuka, <span class="author">Yuki Matsuda</span>, Tadaaki Arimura, Keiichi Yasumoto, Masahiro Sugimoto, Shin-Ichiro Miura:
            <span class="title">“Development of Machine Learning-Based Web System for Estimating Pleural Effusion Using Multi-Frequency Bioelectrical Impedance Analyses,”</span>
            Journal of Cardiovascular Development and Disease, Vol.10, No.7:291, pp.1-14, 2023.</p>
            <ul>
              <li><a href="https://doi.org/10.3390/jcdd10070291">DOI</a></li>
              <li><a href="https://www.mdpi.com/2308-3425/10/7/291/pdf">PDF</a></li>
            </ul>
          </li>
          <li class='ref-item'>
            <p>Koki Tachibana, Yugo Nakamura, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“ACOGARE: Acoustic-Based Litter Garbage Recognition Utilizing Smartwatch,”</span>
            Sustainability, Vol.15, No.13:10079, pp.1-17, 2023.</p>
            <ul>
              <li><a href="https://doi.org/10.3390/su151310079">DOI</a></li>
              <li><a href="https://yukimat.jp/data/pdf/paper/ACOGARE_j_202306_tachibana_sustainability.pdf">PDF</a></li>
            </ul>
          </li>
          <li class='ref-item'>
            <p><span class="author">松田裕貴</span>, 尾崎えり子, 日高興人, 吉田友子, 小野博之, 仲林政子, 西浦弘望, 久保進也, 城野聖一:
            <span class="title">“にしょロボくん： 地域の魅力発信アプリの共創を題材とするGIGAスクール端末を用いた全校縦割り活動の実践,”</span>
            情報処理学会論文誌デジタルプラクティス（TDP）, Vol.4, No.2, pp.55-66 2023.</p>
            <ul>
              <li><a href="
http://id.nii.ac.jp/1001/00225512/">Link</a></li>
              <li><a href="https://yukimat.jp/data/pdf/paper/Nishorobo_j_202304_yukimat_TDP.pdf">PDF</a></li>
            </ul>
          </li>
          <li class='ref-item'>
            <p>Yugo Nakamura, Rei Nakaoka, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto:
            <span class="title">“eat2pic: An Eating-Painting Interactive System to Nudge Users into Making Healthier Diet Choices,”</span>
            Proceedings of the ACM on Interactive, Mobile, Wearable and Ubiquitous Technologies (IMWUT), Vol.7, No.1, pp.1-23, 2023.</p>
            <ul>
              <li><a href="
https://doi.org/10.1145/3580784">DOI</a></li>
              <li><a href="https://dl.acm.org/doi/pdf/10.1145/3580784">PDF</a></li>
            </ul>
          </li>
        </ol>
      </section>
      <p>※このページは準備中です。教員の業績は<a href="https://yukimat.jp/">個人サイト（https://yukimat.jp/）</a>を御覧ください。</p>
    </article>
  </div>
</main>
<%- include('./_footer') %>