<%- include('./_header', { pageID: 'publication' }) %>
<main>
  <header>
    <h2>研究業績</h2>
  </header>
  <div class="content clearfix">
    <nav class="clearfix">
      <ul>
        <li @click="scrollTo('2024')">2024年度</li>
        <li @click="scrollTo('2023')">2023年度まで</li>
      </ul>
    </nav>
    <article>
      <section id="2024">
        <h3>2024年度</h3>
        <h4>論文誌・ジャーナル</h4>
        <ol class="publication">
          <li class='ref-item'>TBA
        </ol>
        <h4>国際会議</h4>
        <ol class="publication">
          <li class='ref-item'>
            <p>Victor Romero II, Tomokazu Matsui, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“Towards Opportunistic Federated Learning Using Independent Subnetwork Training,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24), 2024. (accepted)</p>
          <li class='ref-item'>
            <p>Haruka Sakagami, Osamu Yamada, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
            <span class="title">“A Method for City-wide PoI-level Congestion Prediction via Assimilation of Actual and Simulation-based PoI Congestion Data,”</span>
            The 10th International Conference on Smart Computing (SmartComp '24), 2024. (accepted)</p>
        </ol>
        <h4>国内研究会</h4>
        <ol class="publication">
          <li class='ref-item'>TBA
        </ol>
        <h4>講演・LT</h4>
        <ol class="publication">
          <li>
            <span class="author">松田裕貴</span>, 佐藤拓也:
            <span class="title">“写真で街の様子を共有するプラットフォーム「レポっと」の魅力を知ろう！,”</span>
            シビックテックさいたま 4月勉強会, 2024.
            [<a href="https://www.facebook.com/events/778513637554136">link</a>]
          </li>
        </ol>
      </section>
      <section id="2023">
        <h3>2023年度まで</h3>
        <h4>書籍</h4>
        <ol class="publication">
          <li>
            安本慶一, 荒川豊, <span class="author">松田裕貴</span>:
            <span class="title">“スッキリ!がってん!IoTの本,”</span>
            pp.1-143, 2021, 電気書院.
          </li>
        </ol>
        <h4>論文誌・ジャーナル</h4>
        <ol class="publication">
          <li>
            <span class="author">松田裕貴</span>, 尾崎えり子, 日高興人, 吉田友子, 小野博之, 仲林政子, 西浦弘望, 久保進也, 城野聖一:
            <span class="title">“にしょロボくん： 地域の魅力発信アプリの共創を題材とするGIGAスクール端末を用いた全校縦割り活動の実践,”</span>
            情報処理学会論文誌デジタルプラクティス（TDP）, Vol.4, No.2, pp.55-66 2023.
          </li>
        </ol>
      </section>
      <p>※このページは準備中です。教員の業績は<a href="https://yukimat.jp/">個人サイト（https://yukimat.jp/）</a>を御覧ください。</p>
    </article>
  </div>
</main>
<%- include('./_footer') %>