<%- include('./_header', { pageID: 'publication' }) %>
<main>
  <header>
    <h2>研究業績</h2>
  </header>
  <div class="content clearfix">
    <nav class="clearfix">
      <ul>
        <li @click="scrollToH3('2025')">2025年度
          <ul>
            <li @click.stop="scrollToH4('2025-j')">論文誌・ジャーナル</li>
            <li @click.stop="scrollToH4('2025-i')">国際会議</li>
            <li @click.stop="scrollToH4('2025-d')">国内研究会</li>
            <li @click.stop="scrollToH4('2025-t')">講演・LT</li>
            <li @click.stop="scrollToH4('2025-a')">受賞</li>
          </ul>
        </li>
        <li @click="scrollToH3('2024')">2024年度
          <ul>
            <li @click.stop="scrollToH4('2024-b')">書籍</li>
            <li @click.stop="scrollToH4('2024-m')">特集・解説</li>
            <li @click.stop="scrollToH4('2024-pp')">プレプリント</li>
            <li @click.stop="scrollToH4('2024-j')">論文誌・ジャーナル</li>
            <li @click.stop="scrollToH4('2024-i')">国際会議</li>
            <li @click.stop="scrollToH4('2024-d')">国内研究会</li>
            <li @click.stop="scrollToH4('2024-t')">講演・LT</li>
            <li @click.stop="scrollToH4('2024-n')">メディア掲載</li>
            <li @click.stop="scrollToH4('2024-a')">受賞</li>
          </ul>
        </li>
        <li @click="scrollToH3('2023')">2023年度まで
          <ul>
            <li @click.stop="scrollToH4('2023-b')">書籍</li>
            <li @click.stop="scrollToH4('2023-j')">論文誌・ジャーナル</li>
          </ul>
        </li>
      </ul>
    </nav>
    <article>
      <section id="2025">
        <h3><span>2025年度</span></h3>
        <div id="2025-j">
          <h4>論文誌・ジャーナル</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p><span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Kotaro Hayashi, Taito Yoshimura, Arata Yoshihara, Ismail Arai:
              <span class="title">“Estimating People Flow and Crowdedness for Various Urban Environments based on BLE Signal Sensing: Practical Studies,”</span>
              IEICE Transactions on Communications, 2026. (accepted)</p>
              <ul><li class="accepted"></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>Ko Watanabe, Gitesh Gund, Jayasankar Santhosh, Haruka Sakagami, <span class="author">Yuki Matsuda</span>, Andreas Dengel:
              <span class="title">“EyeUnderstand: Dashboard for Gaze and Deep-Learning Driven Comprehension Estimation in Online Lectures,”</span>
              IEEE Access, Vol.13, pp.102220-102233, 2025.</p>
              <ul><li><a href="https://doi.org/10.1109/ACCESS.2025.3578185">DOI</a></li>
                  <li><a href="/publication/files/202506_IEEEAccess_KoWatanabe.pdf">PDF</a></li>
                  <li class="lab dfki"></li></ul>
            <li class='ref-item'>
              <p>Lucas Maris, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto:
              <span class="title">“Image Differential Privacy and K-anonymity for Pedestrian Image Data: Impact on Cross-camera Person Re-identification & Demographic Predictions,”</span>
              ACM Transactions on Cyber-Physical Systems (TCPS), 2025. (accepted)</p>
              <ul><li><a href="https://doi.org/10.1145/3743680">DOI</a></li>
                  <li class="accepted"></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>Ko Watanabe, <span class="author">Yuki Matsuda</span>, Yugo Nakamura, Yutaka Arakawa, Shoya Ishimaru:
              <span class="title">“TrackThinkDashboard: Understanding Student Self-Regulated Learning in Programming Study,”</span>
              International Journal of Activity and Behavior Computing, Vol.2025, No.xx, pp.1-x, 2025. (accepted)</p>
              <ul><li><a href="https://arxiv.org/abs/2503.19460">arXiv</a></li>
                  <li><a href="https://autocare.ai/abc2025">Conference</a></li>
                  <li class="accepted"></li>
                  <li class="lab dfki"></li></ul>
            <li class='ref-item'>
              <p>Takumi Ikenaga, <span class="author">Yuki Matsuda</span>, Ippei Goto, Kentaro Ueda, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“Using BLE Signals to Estimate Objective and Subjective Crowdedness Levels on Fixed-route Buses,”</span>
              IEEE Access, Vol.13, 67488-67499, 2025.</p>
              <ul><li><a href="https://doi.org/10.1109/ACCESS.2025.3558988">DOI</a></li>
                  <li><a href="/publication/files/202504_IEEEAccess_Ikenaga.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
          </ol>
        </div>
        <div id="2025-i">
          <h4>国際会議</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p>Taito Yoshimura, Kotaro Hayashi, Ismail Arai, <span class="author">Yuki Matsuda</span>:
              <span class="title">“Origin-Destination Estimation for Route Buses Using BLE Advertising Packets: a Case Study on Two Real-World Routes,”</span>
              The 15th International Conference on Mobile Computing and Ubiquitous Networking (ICMU '25), 2025. (accepted)</p>
              <ul><li><a href="https://www.icmu.org/icmu2025/">Link</a></li>
                  <li class="accepted"></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>Muhammad Furqan Rasyid, Tomokazu Matsui, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“Context-Aware Adaptive Feedback for Maintaining Healthy Blink Rates During Screen Use,”</span>
              The 15th International Conference on Mobile Computing and Ubiquitous Networking (ICMU '25), 2025. (accepted)</p>
              <ul><li><a href="https://www.icmu.org/icmu2025/">Link</a></li>
                  <li class="accepted"></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>Shigeyuki Taira, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“Detection of Response Quality Degradation During Crowdsourced Annotation Tasks Using a Conversational Interface,”</span>
              The 15th International Conference on Mobile Computing and Ubiquitous Networking (ICMU '25), 2025. (accepted)</p>
              <ul><li><a href="https://www.icmu.org/icmu2025/">Link</a></li>
                  <li class="accepted"></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p><span class="author">Yuki Matsuda</span>, Toma Kobayashi, Hiroki Watanabe, Keiichi Yasumoto:
              <span class="title">“Effects of Visual Stimuli on Perceived Sound Volume in Virtual Reality Spaces,”</span>
              The 27th International Conference on Human-Computer Interaction (HCII '25), Vol.15788, pp.286-299, 2025.</p>
              <ul><li><a href="https://2025.hci.international/">Link</a></li>
                  <li><a href="https://doi.org/10.1007/978-3-031-93700-2_19">DOI</a></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>Zolboo Damiran, Tomokazu Matsui, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“Exploring Tradeoffs of Annotation Cost and Model Accuracy with Contrastive Learning for Yoga Pose Classification,”</span>
              The 21st International Conference on Intelligent Environments (IE '25), 2025.</p>
              <ul><li><a href="https://www.ie2025.fraunhofer.de/">Link</a></li>
                  <li class="award"><a href="">Best Presentation Award</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>Daiki Mayumi, Yugo Nakamura, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto:
              <span class="title">“BubblEat: Designing a Bubble-Based Olfactory Delivery for Retronasal Smell in Every Spoonful,”</span>
              The 2025 CHI Conference on Human Factors in Computing Systems (CHI '25 Late Breaking Work), Article No.118, pp.1-8, 2025.</p>
              <ul><li><a href="https://chi2025.acm.org/">Link</a></li>
                  <li><a href="https://doi.org/10.1145/3706599.3720047">DOI</a></li>
                  <li><a href="/publication/files/202504_CHI-LBW_Mayumi.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
          </ol>
        </div>
        <div id="2025-d">
          <h4>国内研究会</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p>荒川豊, 中村優吾, <span class="author">松田裕貴</span>, 高橋徹, 東野輝夫:
                <span class="title">“視覚的誘導要素を含めたイラスト地図が観光行動に与える影響の実証分析,”</span>
                研究報告モバイルコンピューティングと新社会システム（MBL）, Vol.2025-MBL-115, No.42, pp.1-8, 沖縄県名護市, 2025年5月.</p>
              <ul><li><a href="https://mbl.ipsj.or.jp/program/2024/115/">Link</a></li>
                  <li><a href="https://ipsj.ixsq.nii.ac.jp/records/2002027">DOI</a></li>
                  <li><a href="/publication/files/202505_MBL115_Ara.pdf">PDF</a></li>
                  <li class="award"><a href="">優秀ポスター賞</a></li>
                  <li class="lab kyushu"></li></ul>
            <li class='ref-item'>
              <p>林虎太朗, 吉村太斗, 小林博之, 今村亮, 伊藤みな, 牛島清豪, 諏訪博彦, <span class="author">松田裕貴</span>:
                <span class="title">“BLEアドバタイズパケットによる都市人流推定の実践 〜佐賀市における国スポ開催期間のデータ分析と考察〜,”</span>
                研究報告マルチメディア通信と分散処理（DPS）, Vol.2025-DPS-203, No.22, pp.1-8, 沖縄県名護市, 2025年5月.</p>
              <ul><li><a href="https://www.ipsjdps.org/node/270">Link</a></li>
                  <li><a href="https://ipsj.ixsq.nii.ac.jp/records/2001944">DOI</a></li>
                  <li><a href="/publication/files/202505_DPS203_Hayashi.pdf">PDF</a></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>吉村太斗, 林虎太朗, 新井イスマイル, <span class="author">松田裕貴</span>:
                <span class="title">“BLEアドバタイジングパケットを用いた路線バスのODデータ推定 〜実運行する2路線におけるデータ分析と考察〜,”</span>
                研究報告高度交通システムとスマートコミュニティ（ITS）, Vol.2025-ITS-101, No.13, pp.1-8, 沖縄県名護市, 2025年5月.</p>
              <ul><li><a href="https://sites.google.com/sig-its.ipsj.or.jp/its/">Link</a></li>
                  <li><a href="https://ipsj.ixsq.nii.ac.jp/records/2002061">DOI</a></li>
                  <li><a href="/publication/files/202505_ITS101_Yoshimura.pdf">PDF</a></li>
                  <li class="award"><a href="https://sites.google.com/sig-its.ipsj.or.jp/its/conference-event/award_list">奨励発表賞</a></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>鳥垣耀平, <span class="author">松田裕貴</span>:
                <span class="title">“表情や仕草データを用いた美術鑑賞者の心理状態推定手法の提案と評価,”</span>
                電子情報通信学会技術研究報告, センサネットワークとモバイルインテリジェンス研究会（SeMI）, Vol.125, No.29, pp.31-36, 沖縄県名護市, 2025年5月.</p>
              <ul><li><a href="https://ken.ieice.org/ken/program/index.php?tgs_regid=79aa692b4fc4e314fc2439467719f0a96ae97c891f7706e4c4f1d79411a1f27b&tgid=IEICE-SeMI">Link</a></li>
                  <li><a href="https://ken.ieice.org/ken/paper/20250522DcK5/">DOI</a></li>
                  <li><a href="/publication/files/202505_SeMI_Torigaki.pdf">PDF</a></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>, 河口信夫, 山口弘純, 藤本まなと, 寺田努, 安本慶一:
                <span class="title">“ユーザ参加型パビリオン待ち時間共有システム「EXPO2025wait」の検討,”</span>
                第86回UBI研究会ポスター発表（non-archival）, 東京都府中市, 2025年5月.</p>
              <ul><li><a href="https://sigubi.ipsj.or.jp/seminar86/">Link</a></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>平良繁幸, <span class="author">松田裕貴</span>, 福光嘉伸, 諏訪博彦, 安本慶一:
                <span class="title">“クラウドソーシングにおける対話型インタフェースを用いたアノテーションタスク遂行時の回答品質低下の検知手法,”</span>
                研究報告ユビキタスコンピューティングシステム（UBI）, Vol.2025-UBI-86, No.xx, pp.1-x, 東京都府中市, 2025年5月.</p>
              <ul><li><a href="https://sigubi.ipsj.or.jp/seminar86/">Link</a></li>
                  <li><a href="https://ipsj.ixsq.nii.ac.jp/records/2001804">DOI</a></li>
                  <li><a href="/publication/files/202505_UBI86_Taira.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
          </ol>
        </div>
        <div id="2025-t">
          <h4>講演・LT</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>:
              <span class="title">“AI・IoTでわたし達の住む世界をセンシングする,”</span>
              青陵サイエンストーク, 2025.
              </p>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>:
              <span class="title">“桜の写真を集める「桜咲プロジェクト」,”</span>
              tsunagu-place オープニングイベント, 2025.
              </p>
              <ul><li><a href="https://tsunagu-place1.peatix.com/">Link</a></li></ul>
          </ol>
        </div>
        <div id="2025-a">
          <h4>受賞</h4>
          <ol class="multi-line">
            <li><p>The 21st International Conference on Intelligent Environments (IE '25) 「Best Presentation Award」
              <span>Exploring Tradeoffs of Annotation Cost and Model Accuracy with Contrastive Learning for Yoga Pose Classification</span>
              <span>Zolboo Damiran</span>
              <span>2026.06.26</span></p>
              <ul><li><a href="https://www.ie2025.fraunhofer.de/">Link</a></li>
                  <li class="lab naist"></li></li>
              </ul>
            <li><p>第203回DPS・第115回MBL・第101回ITS・SeMI合同研究発表会 「優秀ポスター賞」
              <span>視覚的誘導要素を含めたイラスト地図が観光行動に与える影響の実証分析</span>
              <span>荒川豊, 中村優吾, 松田裕貴, 高橋徹, 東野輝夫</span>
              <span>2025.05.23</span></p>
              <ul><li class="lab kyushu"></li></li>
              </ul>
            <li><p>第101回ITS研究発表会 「奨励発表賞」
              <span>BLEアドバタイジングパケットを用いた路線バスのODデータ推定 〜実運行する2路線におけるデータ分析と考察〜</span>
              <span>吉村太斗</span>
              <span>2025.05.23</span></p>
              <ul><li><a href="https://sites.google.com/sig-its.ipsj.or.jp/its/conference-event/award_list">Link</a></li>
                  <li class="lab cocolab"></li></li>
              </ul>
          </ol>
        </div>
      </section>
      <section id="2024">
        <h3><span>2024年度</span></h3>
        <div id="2024-b">
          <h4>書籍</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p>荒川豊, 石田繁巳, <span class="author">松田裕貴</span>, 中村優吾, 安本慶一:
              <span class="title">“センサと機械学習ではじめる人間行動認識 - 触って動かして理解するセンサデータ処理,”</span>
              pp.1-129, 2024, 電気書院.</p>
              <ul><li><a href="
  https://www.denkishoin.co.jp/products/view/2078">出版社サイト</a></li>
                  <li><a href="
  https://www.amazon.co.jp/dp/4485302652">Amazon</a></li></ul>
          </ol>
        </div>
        <div id="2024-m">
          <h4>特集・解説</h4>
          <ol class="publication">
            <li class="ref-item">
              <p><span class="author">松田裕貴</span>, 諏訪博彦:
              <span class="title">“《特集 ナラティブと人工知能》センシングと行動変容におけるナラティブ...ってなんだ?,”</span>
              人工知能, Vol.39, No.5, pp.638-644, 2024.</p>
              <ul><li><a href="https://doi.org/10.11517/jjsai.39.5_638">DOI</a></li>
                  <li><a href="/publication/files/202409_JSAI-Magazine_yukimat.pdf">PDF</a></li></li></ul>
            <li class="ref-item">
              <p><span class="author">松田裕貴</span>:
              <span class="title">“オフィスワーカーの心身と環境センシングに向けたアプリケーションの開発と評価,”</span>
              生体センシング技術の開発とヘルスケア、遠隔診断への応用, pp.297-306, 2024.</p>
              <ul><li><a href="https://www.gijutu.co.jp/doc/b_2245.htm">Link</a></li></ul>
            <li class="ref-item">
              <p><span class="author">松田裕貴</span>:
              <span class="title">“ICTそろばん学習支援システム「AbaCaaS」,”</span>
              電気計算 2024年6月号, Vol.92, No.6, pp.51-56, 2024.</p>
              <ul><li><a href="https://www.denkishoin.co.jp/products/view/2046">Link</a></li>
                  <li><a href="https://www.amazon.co.jp/dp/B0CWN9KDKG/">Amazon</a></li></ul>
          </ol>
        </div>
        <div id="2024-pp">
          <h4>プレプリント</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p>Carolin Schindler, Daiki Mayumi, <span class="author">Yuki Matsuda</span>, Niklas Rach, Keiichi Yasumoto, Wolfgang Minker:
              <span class="title">“ARCADE: An Augmented Reality Display Environment for Multimodal Interaction with Conversational Agents,”</span>
              arXiv:2408.06222, pp.1-3, 2024.</p>
              <p @click.stop="scrollToRef('carolin-icmi2024')">published: ICMI'24 (Schindler et al.)</p>
              <ul><li><a href="https://doi.org/10.48550/arXiv.2408.06222">DOI</a></li>
                  <li><a href="https://arxiv.org/pdf/2408.06222">PDF</a></li>
                  <li class="lab uulm"></li></ul>
            <li class='ref-item'>
              <p>Annalena Aicher, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto, Wolfgang Minker, Elisabeth André, Stefan Ultes:
              <span class="title">“Exploring the Impact of Non-Verbal Virtual Agent Behavior on User Engagement in Argumentative Dialogues,”</span>
              arXiv:2411.11102, pp.1-9, 2024.</p>
              <p @click.stop="scrollToRef('annalena-hai2024')">published: HAI'24 (Aicher et al.)</p>
              <ul><li><a href="https://hai-conference.net/hai2024/">Link</a></li>
                  <li><a href="https://doi.org/10.48550/arXiv.2411.11102">DOI</a></li>
                  <li class="lab uulm"></li></ul>
          </ol>
        </div>
        <div id="2024-j">
          <h4>論文誌・ジャーナル</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p>Sergio De León Aguilar, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto:
              <span class="title">“Mobile Augmented Reality Interface for Instruction-based Disaster Preparedness Guidelines,”</span>
              Sensors and Materials, Vol.36, No.10, pp.4585-4606, 2024.</p>
              <ul><li><a href="https://doi.org/10.18494/SAM5215">DOI</a></li>
                  <li><a href="/publication/files/202410_SandM_Sergio.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>松田裕貴, 榊原太一, 真弓大輝, <span class="author">松田裕貴</span>, 水本旭洋, 安本慶一:
              <span class="title">“非特定テレビ視聴履歴データの放送局間統合手法,”</span>
              情報処理学会論文誌, Vol.65, No.10, pp.1488-1500, 2024.</p>
              <ul><li><a href="http://doi.org/10.20729/00239892">DOI</a></li>
                  <li><a href="/publication/files/202410_IPSJJournal_Mahiro.pdf">PDF</a></li>
                  <li class="lab naist"></li></li></ul>
            <li class='ref-item'>
              <p>Annalena Aicher, <span class="author">Yuki Matsuda</span>, Keichii Yasumoto, Wolfgang Minker, Elisabeth André, Stefan Ultes:
              <span class="title">“Enhancing Reflective and Conversational User Engagement in Argumentative Dialogues with Virtual Agents,”</span>
              Multimodal Technologies and Interaction, Vol.8, No.8:71, pp.1-44, 2024.</p>
              <ul><li><a href="https://doi.org/10.3390/mti8080071">DOI</a></li>
                  <li><a href="/publication/files/202408_MTI_Annalena.pdf">PDF</a></li>
                  <li class="lab uulm"></li></ul>
            <li class='ref-item'>
              <p>Daiki Mayumi, Yugo Nakamura, <span class="author">Yuki Matsuda</span>, Shinya Misaki, Keiichi Yasumoto:
              <span class="title">“Aromug: a Mug-type Olfactory Interface to Enhance the Sweetness Perception of Beverages,”</span>
              IEEE Access, Vol.12, pp.78366-78378, 2024.</p>
              <ul><li><a href="https://doi.org/10.1109/ACCESS.2024.3401392">DOI</a></li>
                  <li><a href="/publication/files/202405_IEEEAccess_Mayumi.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p><span class="author">Yuki Matsuda</span>:
              <span class="title">“Abacus Manipulation Understanding by Behavior Sensing Utilizing Document Camera as a Sensor,”</span>
              International Journal of Activity and Behavior Computing, Vol.2024, No.1, pp.1-16, 2024.</p>
              <ul><li><a href="https://doi.org/10.60401/ijabc.2">DOI</a></li>
                  <li><a href="/publication/files/202405_IJABC_yukimat.pdf">PDF</a></li>
                  <li class="lab cocolab"></li></ul>
          </ol>
        </div>
        <div id="2024-i">
          <h4>国際会議</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p>Kazuki Nagayama, Hirohiko Suwa, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto:
              <span class="title">“Semi-Automatic Detection and Evaluation of Cyclist Points of Interest Using Riding Log Data Analysis,”</span>
              2025 IEEE International Conference on Pervasive Computing and Communications Workshops and other Affiliated Events (PerCom '25 Workshops), pp.367-372, 2025.</p>
              <ul><li><a href="https://www.pervehicle.org/">Link</a></li>
                  <li><a href="https://doi.ieeecomputersociety.org/10.1109/PerComWorkshops65533.2025.00093">DOI</a></li>
                  <li><a href="/publication/files/202503_PerComWS_Nagayama.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>Victor II Romero, Tomokazu Matsui, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“OPTIMIST: Opportunistic Federated Transfer Learning for Mobile Devices Using Sequential Independent Subnetwork Training,”</span>
              2025 IEEE International Conference on Pervasive Computing and Communications Workshops and other Affiliated Events (PerCom '25 Workshops), pp.183-188, 2025.</p>
              <ul><li><a href="https://sites.google.com/view/edge-well-2025/">Link</a></li>
                  <li><a href="https://doi.org/10.1109/PerComWorkshops65533.2025.00062">DOI</a></li>
                  <li><a href="/publication/files/202503_PerComWS_Victor.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>Yugo Nakamura, <span class="author">Yuki Matsuda</span>, Yutaka Arakawa:
              <span class="title">“SenStick-Eye: A Sensing Platform to Observe Behavioral Insights from Small Everyday Objects,”</span>
              2025 IEEE International Conference on Consumer Electronics (ICCE '25), pp.1-2, 2025.</p>
              <ul><li><a href="https://icce.org/2025/">Link</a></li>
                  <li><a href="https://doi.org/10.1109/ICCE63647.2025.10930127">DOI</a></li>
                  <li><a href="/publication/files/202501_ICCE_Yugo.pdf">PDF</a></li>
                  <li class="award"><a href="https://cocolabjp.tumblr.com/post/772616133102714880/icce2025-award">Best Session Presentation Award</a></li>
                  <li class="lab kyushu"></li></ul>
            <li class='ref-item' id="carolin-icmi2024">
              <p>Carolin Schindler, Daiki Mayumi, <span class="author">Yuki Matsuda</span>, Niklas Rach, Keiichi Yasumoto, Wolfgang Minker:
              <span class="title">“ARCADE: An Augmented Reality Display Environment for Multimodal Interaction with Conversational Agents,”</span>
              Companion Proceedings of the 26th International Conference on Multimodal Interaction (ICMI Companion '24), pp.85-87, 2024.</p>
              <ul><li><a href="https://icmi.acm.org/2024/">Link</a></li>
                  <li><a href="https://doi.org/10.1145/3686215.3688376">DOI</a></li>
                  <li><a href="/publication/files/202411_ICMI_Carolin.pdf">PDF</a></li>
                  <li class="lab uulm"></li></ul>
            <li class='ref-item' id="annalena-hai2024">
              <p>Annalena Aicher, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto, Wolfgang Minker, Elisabeth André, Stefan Ultes:
              <span class="title">“Exploring the Impact of Non-Verbal Virtual Agent Behavior on User Engagement in Argumentative Dialogues,”</span>
              The 12th International Conference on Human-Agent Interaction (HAI '24), pp.224-232, 2024.</p>
              <ul><li><a href="https://hai-conference.net/hai2024/">Link</a></li>
                  <li><a href="https://doi.org/10.1145/3687272.3688315">DOI</a></li>
                  <li><a href="/publication/files/202411_HAI_Annalnea.pdf">PDF</a></li>
                  <li class="award"><a href="">Best Paper Award</a></li>
                  <li class="lab uulm"></li></ul>
            <li class='ref-item'>
              <p>Victor Romero II, Tomokazu Matsui, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“Towards Opportunistic Federated Learning Using Independent Subnetwork Training,”</span>
              The 10th International Conference on Smart Computing (SmartComp '24), pp.174-181, 2024.</p>
              <ul><li><a href="https://smartcomp.w.waseda.jp/accepted-papers/">Link</a></li>
                  <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00044">DOI</a></li>
                  <li><a href="/publication/files/202406_SmartComp_Victor.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>Haruka Sakagami, Osamu Yamada, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“A Method for City-wide PoI-level Congestion Prediction via Assimilation of Actual and Simulation-based PoI Congestion Data,”</span>
              The 10th International Conference on Smart Computing (SmartComp '24), pp.39-46, 2024.</p>
              <ul><li><a href="https://smartcomp.w.waseda.jp/accepted-papers/">Link</a></li>
                  <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00027">DOI</a></li>
                  <li><a href="/publication/files/202406_SmartComp_Sakagami.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p><span class="author">Yuki Matsuda</span>:
              <span class="title">“A Table-top Interface for Real-time Coaching in Abacus Learning,”</span>
              The 10th International Conference on Smart Computing (SmartComp '24, Demo), pp.243-245, 2024.</p>
              <ul><li><a href="https://smartcomp.w.waseda.jp/accepted-papers/">Link</a></li>
                  <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00056">DOI</a></li>
                  <li><a href="/publication/files/202406_SmartComp_yukimat.pdf">PDF</a></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>Chingyuan Lin, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“Detecting Distress Changes Using Multimodal Data During Interaction with A Smart Speaker,”</span>
              The 10th International Conference on Smart Computing (SmartComp '24, SmartSys '24), pp.352-357, 2024.</p>
              <ul><li><a href="http://smartsys2024.dii.unipi.it/">Link</a></li>
                  <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00080">DOI</a></li>
                  <li><a href="/publication/files/202406_SmartComp_Lin.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>Osamu Yamada, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“Crowd Flow Prediction from Mobile Traces Through Time Series PoI Stay Counts,”</span>
              The 10th International Conference on Smart Computing (SmartComp '24, SSC '24), pp.268-273, 2024.</p>
              <ul><li><a href="http://ssc2024.unime.it/">Link</a></li>
                  <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00066">DOI</a></li>
                  <li><a href="/publication/files/202406_SmartComp_Yamada.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>Lucas Maris, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto:
              <span class="title">“Protecting Cross-camera Person Re-identification Data with Image Differential Privacy,”</span>
              The 10th International Conference on Smart Computing (SmartComp '24, BITS '24), pp.388-393, 2024.</p>
              <ul><li><a href="https://www.yama.info.waseda.ac.jp/en/bits2024">Link</a></li>
                  <li><a href="https://doi.org/10.1109/SMARTCOMP61445.2024.00086">DOI</a></li>
                  <li><a href="/publication/files/202406_SmartComp_Lucas.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
          </ol>
        </div>
        <div id="2024-d">
          <h4>国内研究会</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p>小嵜泰造, <span class="author">松田裕貴</span>:
                <span class="title">“ゲーミフィケーションを活用した珠算学習支援システム「CalcQuest」のユーザスタディ,”</span>
                AIoT行動変容学会第9回研究会（BTI-9）, pp.1-8, 北海道函館市, 2025年3月.</p>
              <ul><li><a href="http://www.sig-bti.jp/event/bti09.html">Link</a></li>
                  <li><a href="/publication/files/202503_BTI09_Kozaki.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>澤野耕平, <span class="author">松田裕貴</span>, 中谷響, 大内啓樹, 諏訪博彦, 安本慶一:
                <span class="title">“未登録PoI探索のための時系列SNS投稿データに基づく位置推定手法の提案と評価,”</span>
                AIoT行動変容学会第9回研究会（BTI-9）, pp.1-8, 北海道函館市, 2025年3月.</p>
              <ul><li><a href="http://www.sig-bti.jp/event/bti09.html">Link</a></li>
                  <li><a href="/publication/files/202503_BTI09_Sawano.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>由田翔吾, <span class="author">松田裕貴</span>, 松田裕貴, 横田哲弥, 榊原太一, 安本慶一:
                <span class="title">“非特定テレビ視聴履歴データに基づくテレビ視聴行動クラスタリングと視聴傾向変化分析,”</span>
                AIoT行動変容学会第9回研究会（BTI-9）, pp.1-7, 北海道函館市, 2025年3月.</p>
              <ul><li><a href="http://www.sig-bti.jp/event/bti09.html">Link</a></li>
                  <li><a href="/publication/files/202503_BTI09_Yoshida.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>河原美優, <span class="author">松田裕貴</span>, 後藤佑介:
                <span class="title">“パワーリフティング競技におけるウェアラブルセンサを用いたスクワット試技判定手法,”</span>
                第17回データ工学と情報マネジメントに関するフォーラム（DEIM2025）, pp.1-7, オンライン, 2025年3月.</p>
              <ul><li><a href="https://pub.confit.atlas.jp/ja/event/deim2025/presentation/9K-02">Link</a></li>
                  <li><a href="https://pub-files.atlas.jp/fs/public/deim2025/ver_17/abstract/ja/9K-02.pdf">PDF</a></li>
                  <li class="lab okayama-u"></li></ul>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>, 林虎太朗, 吉村太斗:
                <span class="title">“BLEアドバタイジングパケットを活用した都市人流推定,”</span>
                Japan UBI Symposium 2025, 大阪府大阪市, 2025年2月.</p>
              <ul><li><a href="https://sigubi.ipsj.or.jp/sympo2025/">Link</a></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>筒井巽水, <span class="author">松田裕貴</span>, 秦恭史, 諏訪博彦, 峯英一郎, 稲場圭信, 安本慶一:
                <span class="title">“スマートフォンのブラウザ記憶領域を用いたインフラレス災害情報流通システム,”</span>
                Japan UBI Symposium 2025, 大阪府大阪市, 2025年2月.</p>
              <ul><li><a href="https://sigubi.ipsj.or.jp/sympo2025/">Link</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>真弓大輝, <span class="author">松田裕貴</span>, 松田裕貴, 横田哲弥, 榊原太一, 安本慶一:
                <span class="title">“非特定テレビ視聴履歴データを用いたテレビ視聴行動クラスタリング手法の構築と評価,”</span>
                AIoT行動変容学会第8回研究会（BTI-8）, pp.23-30, 岡山県岡山市, 2024年12月.</p>
              <ul><li><a href="http://www.sig-bti.jp/event/bti08.html">Link</a></li>
                  <li><a href="/publication/files/202412_BTI08_Mayumi.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>, 立花巧樹, 呉健朗, 諏訪博彦:
                <span class="title">“マルチモーダルセンサとLLMを用いた個人の体感推定手法の検討,”</span>
                コラボレーションとネットワークサービスワークショップ2024（CN Workshop '24）, pp.85-86, 石川県加賀市, 2024年11月.</p>
              <ul><li><a href="https://www.ipsj.or.jp/sig/cn/cnws/2024/">Link</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00240522/">DOI</a></li>
                  <li><a href="/publication/files/202411_CNWS_yukimat.pdf">PDF</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>土橋有理, 秦恭史, <span class="author">松田裕貴</span>, 諏訪博彦, 安本慶一:
                <span class="title">“ゲーミフィケーションを活用した外出交流促進システムの開発,”</span>
                第32回マルチメディア通信と分散処理ワークショップ（DPSWS '24）, pp.168-171, 広島県廿日市市, 2024年10月.</p>
              <ul><li><a href="https://www.dpsws.org/2024/">Link</a></li>
                  <li><a href="/publication/files/202410_DPSWS_Tsuchihashi.pdf">PDF</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00239969/">DOI</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>筒井巽水, <span class="author">松田裕貴</span>, 秦恭史, 諏訪博彦, 峯英一郎, 稲場圭信, 安本慶一:
                <span class="title">“スマートフォンのブラウザ記憶領域を用いた災害情報流通システムの実装,”</span>
                第32回マルチメディア通信と分散処理ワークショップ（DPSWS '24）, pp.160-167, 広島県廿日市市, 2024年10月.</p>
              <ul><li><a href="https://www.dpsws.org/2024/">Link</a></li>
                  <li><a href="/publication/files/202410_DPSWS_Tsutsui.pdf">PDF</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00239970/">DOI</a></li>
                  <li class="award"><a href="https://www.dpsws.org/2024/?Award">優秀デモンストレーション賞</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>Muhammad Furqan Rasyid, Tomokazu Matsui, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
                <span class="title">“EyeWise: A Nudge Theory-Based Approach to Enhancing Blink Behavior in Computer Users,”</span>
                第32回マルチメディア通信と分散処理ワークショップ（DPSWS '24）, pp.221-223, 広島県廿日市市, 2024年10月.</p>
              <ul><li><a href="https://www.dpsws.org/2024/">Link</a></li>
                  <li><a href="/publication/files/202410_DPSWS_Furqan.pdf">PDF</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00239982/">DOI</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>吉村太斗, 林虎太朗, 新井イスマイル, <span class="author">松田裕貴</span>:
                <span class="title">“BLEのランダムMACアドレスを用いたODデータ推定に向けた初期検討,”</span>
                2024年度 情報処理学会関西支部 支部大会, G-11, pp.1-8, オンライン, 2024年9月.</p>
              <ul><li><a href="https://kansai.ipsj.or.jp/guide/2024shibutaikai-kaisai.html">Link</a></li>
                  <li><a href="/publication/files/202409_IPSJ-Kansai_Yoshimura.pdf">PDF</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00238709/">DOI</a></li>
                  <li class="award"><a href="">支部大会奨励賞</a></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>林虎太朗, 吉村太斗, 諏訪博彦, <span class="author">松田裕貴</span>:
                <span class="title">“複数台のBLEスキャナを用いた都市人流推定に向けた基礎検討,”</span>
                2024年度 情報処理学会関西支部 支部大会, G-38, pp.1-8, オンライン, 2024年9月.</p>
              <ul><li><a href="https://kansai.ipsj.or.jp/guide/2024shibutaikai-kaisai.html">Link</a></li>
                  <li><a href="/publication/files/202409_IPSJ-Kansai_Hayashi.pdf">PDF</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00238735/">DOI</a></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>鳥垣耀平, 諏訪博彦, 安本慶一, <span class="author">松田裕貴</span>:
                <span class="title">“美術館における鑑賞者の心理状態推定に向けた基礎分析,”</span>
                2024年度 情報処理学会関西支部 支部大会, G-16, pp.1-6, オンライン, 2024年9月.</p>
              <ul><li><a href="https://kansai.ipsj.or.jp/guide/2024shibutaikai-kaisai.html">Link</a></li>
                  <li><a href="/publication/files/202409_IPSJ-Kansai_Torigaki.pdf">PDF</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00238714/">DOI</a></li>
                  <li class="award"><a href="">学生優秀発表賞</a></li>
                  <li class="lab cocolab"></li></ul>
            <li class='ref-item'>
              <p>菊池尊勝, 池永拓海, 細川蓮, <span class="author">松田裕貴</span>, 諏訪博彦, 安本慶一:
                <span class="title">“ユーザー参加型BLEスキャニングによる都市空間の混雑度推定に向けた検討,”</span>
                2024年度 情報処理学会関西支部 支部大会, C-06, pp.1-6, オンライン, 2024年9月.</p>
              <ul><li><a href="https://kansai.ipsj.or.jp/guide/2024shibutaikai-kaisai.html">Link</a></li>
                  <li><a href="/publication/files/202409_IPSJ-Kansai_Kikuchi.pdf">PDF</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00238695/">DOI</a></li>
                  <li class="award"><a href="">支部大会奨励賞</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>古城司, 由田翔吾, 坪内孝太, <span class="author">松田裕貴</span>, 諏訪博彦, 安本慶一:
                <span class="title">“野生動物の生息域推定精度向上のためのLiDAR点群データによる痕跡分類手法の提案,”</span>
                2024年度 情報処理学会関西支部 支部大会, G-55, pp.1-6, オンライン, 2024年9月.</p>
              <ul><li><a href="https://kansai.ipsj.or.jp/guide/2024shibutaikai-kaisai.html">Link</a></li>
                  <li><a href="/publication/files/202409_IPSJ-Kansai_Kojo.pdf">PDF</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00238750/">DOI</a></li>
                  <li class="award"><a href="">支部大会奨励賞</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>長山和樹, 諏訪博彦, <span class="author">松田裕貴</span>, 安本慶一:
                <span class="title">“サイクリストPoIを自動検出／評価をするための走行ログデータ解析手法の提案,”</span>
                2024年度 情報処理学会関西支部 支部大会, G-37, pp.1-7, オンライン, 2024年9月.</p>
              <ul><li><a href="https://kansai.ipsj.or.jp/guide/2024shibutaikai-kaisai.html">Link</a></li>
                  <li><a href="/publication/files/202409_IPSJ-Kansai_Nagayama.pdf">PDF</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00238734/">DOI</a></li>
                  <li class="award"><a href="">支部大会奨励賞</a></li>
                  <li class="lab naist"></li></ul>
            <li class='ref-item'>
              <p>立花巧樹, 呉健朗, <span class="author">松田裕貴</span>, 諏訪博彦, 安本慶一:
              <span class="title">“未知ゴミ識別のための判定手法の比較と実用化に向けた検討,”</span>
              マルチメディア, 分散, 協調とモバイル（DICOMO 2024）シンポジウム論文集, pp.33-38, 岩手県花巻市, 2024年6月.</p>
              <ul><li><a href="https://dicomo.org/">Link</a></li>
                  <li><a href="/publication/files/202407_DICOMO_Tachibana.pdf">PDF</a></li>
                  <li><a href="http://id.nii.ac.jp/1001/00240002/">DOI</a></li></li>
                  <li class="award"><a href="https://dicomo.org/commendation/">野口賞（デモ賞）</a></li>
                  <li class="award"><a href="https://dicomo.org/commendation/">ヤングリーサチャ賞</a></li>
                  <li class="lab naist"></li></ul>
          </ol>
        </div>
        <div id="2024-t">
          <h4>講演・LT</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>:
              <span class="title">“学部・大学院における実践的講義に関する取組み,”</span>
              第56回岡山情報通信技術研究会（OICT56）, 2025.
              </p>
              <ul><li><a href="https://www.eng.okayama-u.ac.jp/oict/research/427/">Link</a></li></ul>
            </li>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>:
              <span class="title">“ICTとモニタリング～どうやってデータを計測して、活用するのか～,”</span>
              『未来の海を共に見守る－市民参加型モニタリング－』セミナー, 2024.</p>
              <ul><li><a href="https://chushikoku.env.go.jp/procure/topics_00253.html">Link</a></li></ul>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>:
              <span class="title">“人の体感を考慮した気象APIの実現に向けたデータ解析,”</span>
              YuMake Sky Meetup vol.2, 2024.</p>
              <ul><li><a href="https://yumake.connpass.com/event/336440/">Link</a></li></ul>
            <li class='ref-item'>
              <p><span class="author">Yuki Matsuda</span>:
              <span class="title">“Towards Low-cost People Flow Monitoring in Urban Spaces based on BLE Signal Sensing,”</span>
              The 5th IEICE-CS International Conference on Emerging Technologies for Communications (IEICE ICETC 2024), 2024.</p>
              <ul><li><a href="https://www.ieice.org/cs/icetc/">Link</a></li></ul>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>:
              <span class="title">“視線情報を用いた人の『コンテキスト（状況）』の分析,”</span>
              第41回おかやま生体信号研究会, 2024.</p>
              <ul><li><a href="https://obiss.tech/wp/2024/10/11/reikai-0041-plan/">Link</a></li></ul>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>:
              <span class="title">“人の感覚を理解するAIoTの実現に向けて,”</span>
              第23回情報科学技術フォーラム（FIT '24）, イベント「IoTが拓く未来：センサデータから見る人間の世界」, 2024.</p>
              <ul><li><a href="https://www.ipsj.or.jp/event/fit/fit2024/abstract/data/html/event/event_A-5.html">Link</a></li></ul>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>:
              <span class="title">“人や環境の状況を理解・変容するためのAIoT (Artificial Intelligence of Things),”</span>
              第54回岡山情報通信技術研究会（OICT54）, 2024.</p>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>, 土田修平, 越後宏紀:
              <span class="title">“人にやさしい社会を実現する Internet of Things(IoT),”</span>
              河合塾みらい探究プログラム「情報科学の最先端をのぞいてみよう！〜若手トップ研究者が紹介〜」, 2024.</p>
              <ul><li><a href="https://www.kawai-juku.ac.jp/event/spc/k-ship/detail-s/#program7">Link</a></li></ul>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>:
              <span class="title">“AIoTによるコンヴィヴィアル社会の実現に向けた研究紹介,”</span>
              岡山大学 令和6年度第1回 Cypher研究会, 2024.</p>
              <ul><li><a href="https://www.cypher.okayama-u.ac.jp/seminar/%E4%BB%A4%E5%92%8C6%E5%B9%B4%E5%BA%A6%E7%AC%AC1%E5%9B%9Ecypher%E7%A0%94%E7%A9%B6%E4%BC%9A/">Link</a></li></ul>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>, 佐藤拓也:
              <span class="title">“写真で街の様子を共有するプラットフォーム「レポっと」の魅力を知ろう！,”</span>
              シビックテックさいたま 4月勉強会, 2024.</p>
              <ul><li><a href="https://www.facebook.com/events/778513637554136">Link</a></li></ul>
          </ol>
        </div>
        <div id="2024-n">
          <h4>メディア掲載</h4>
          <ol class="multi-line">
            <li><p>RSKラジオ 天神ワイド朝
              <span>技術の森</span>
              <span>2025.02.05, 12</span></p>
              <ul><li><a href="https://www.facebook.com/technologymori/posts/pfbid02uP5aNJ9RLRUry1gsQrNw9jZ64m9KPg69mDhtiUZ3SWg7wLr2vVsP55WLrk5iBsHLl">Facebook</a></li>
                  <li><a href="https://www.rsk.co.jp/radio/asamimi/mori/">link</a></li></ul>
            <li><p>The Gov't of Japan
              <span>Want to eat healthy and turn your meals into works of art?</span>
              <span>2024.07.19</span></p>
              <ul><li><a href="https://x.com/JapanGov/status/1814178396588708049">X（Twitter）</a></li>
                  <li><a href="https://www.facebook.com/JapanGov/videos/1925759991253692/">Facebook</a></li></ul>
            <li><p>Japan Times
              <span>Japan’s gamified environment apps target a greener mindset</span>
              <span>2024.06.16</span></p>
              <ul><li><a href="https://www.japantimes.co.jp/environment/2024/06/16/sustainability/gamification-environment-apps-japan/">Link</a></li></ul>
          </ol>
        </div>
        <div id="2024-a">
          <h4>受賞</h4>
          <ol class="multi-line">
            <li><p>ヒーローズ・リーグ2024 「特別賞」
              <span>AbaCaaS： 算盤の盤面認識に基づく珠算学習支援システム</span>
              <span>松田裕貴</span>
              <span>2024.12.07</span></p>
              <ul><li><a href="https://protopedia.net/event/hl2024">Link</a></li>
                  <li><a href="https://protopedia.net/prototype/3743">Protopedia</a>
                  <li class="lab cocolab"></li></li>
              </ul>
            <li><p>ヒーローズ・リーグ2024 「ロボットフレンドリー賞」
              <span>PhotoBot</span>
              <span>山﨑七輝・周思君・𠮷村太斗</span>
              <span>2024.12.07</span></p>
              <ul><li><a href="https://protopedia.net/event/hl2024">Link</a></li>
                  <li><a href="https://protopedia.net/prototype/6397">Protopedia</a>
                  <li class="lab cocolab"></li></li>
              </ul>
            <li><p>The 12th International Conference on Human-Agent Interaction (HAI '24) 「Best Paper Award」
              <span>Exploring the Impact of Non-Verbal Virtual Agent Behavior on User Engagement in Argumentative Dialogues</span>
              <span>Annalena Aicher, Yuki Matsuda, Keiichi Yasumoto, Wolfgang Minker, Elisabeth André, Stefan Ultes</span>
              <span>2024.11.27</span></p>
              <ul><li><a href="https://hai-conference.net/hai2024/">Link</a></li>
                  <li class="lab uulm"></li></ul>
            <li><p>技育展2024 「優勝」「企業賞（株式会社サイバーエージェント賞）」
              <span>PhotoBot - 運転中でもいい景色をAIで判定して自動撮影してくれるアプリ</span>
              <span>山﨑七輝, 周思君, 吉村太斗</span>
              <span>2024.11.12</span></p>
              <ul><li><a href="https://100program.jp/">Link</a></li>
                  <li class="lab cocolab"></li></ul>
            <li><p>第32回マルチメディア通信と分散処理ワークショップ (DPSWS '24) 「優秀デモンストレーション賞」
              <span>スマートフォンのブラウザ記憶領域を用いた災害情報流通システムの実装</span>
              <span>筒井巽水, 松田裕貴, 秦恭史, 諏訪博彦, 峯英一郎, 稲場圭信, 安本慶一</span>
              <span>2024.11.01</span></p>
              <ul><li><a href="https://www.dpsws.org/2024/?Award">Link</a></li>
                  <li class="lab naist"></li></ul>
            <li><p>2024年度 情報処理学会関西支部 支部大会 「学生優秀発表賞」
              <span>美術館における鑑賞者の心理状態推定に向けた基礎分析</span>
              <span>鳥垣耀平</span>
              <span>2024.09.29</span></p>
              <ul><li><a href="https://kansai.ipsj.or.jp/record/">Link</a></li>
                  <li class="lab cocolab"></li></ul>
            <li><p>2024年度 情報処理学会関西支部 支部大会 「支部大会奨励賞」
              <span>BLEのランダムMACアドレスを用いたODデータ推定に向けた初期検討</span>
              <span>吉村太斗</span>
              <span>2024.09.29</span></p>
              <ul><li><a href="https://kansai.ipsj.or.jp/record/">Link</a></li>
                  <li class="lab cocolab"></li></ul>
            <li><p>2024年度 情報処理学会関西支部 支部大会 「支部大会奨励賞」
              <span>ユーザー参加型BLEスキャニングによる都市空間の混雑度推定に向けた検討</span>
              <span>菊池尊勝</span>
              <span>2024.09.29</span></p>
              <ul><li><a href="https://kansai.ipsj.or.jp/record/">Link</a></li>
                  <li class="lab naist"></li></ul>
            <li><p>2024年度 情報処理学会関西支部 支部大会 「支部大会奨励賞」
              <span>野生動物の生息域推定精度向上のためのLiDAR点群データによる痕跡分類手法の提案</span>
              <span>古城司</span>
              <span>2024.09.29</span></p>
              <ul><li><a href="https://kansai.ipsj.or.jp/record/">Link</a></li>
                  <li class="lab naist"></li></ul>
            <li><p>2024年度 情報処理学会関西支部 支部大会 「支部大会奨励賞」
              <span>サイクリストPoIを自動検出／評価をするための走行ログデータ解析手法の提案</span>
              <span>長山和樹</span>
              <span>2024.09.29</span></p>
              <ul><li><a href="https://kansai.ipsj.or.jp/record/">Link</a></li>
                  <li class="lab naist"></li></ul>
            <li><p>100 Program 「最優秀賞」「優秀アプリ賞」「優秀AI賞」「東大IPC賞」
              <span>ドライブ中でもいい景色をAIで判定して自動撮影するアプリ</span>
              <span>山﨑七輝, 周思君, 吉村太斗</span>
              <span>2024.09.29</span></p>
              <ul><li><a href="https://100program.jp/">Link</a></li>
                  <li class="lab cocolab"></li></ul>
            <li><p>電子情報通信学会 センサネットワークとモバイルインテリジェンス研究会 「2023年度最優秀発表賞」
              <span>書画カメラを用いた珠算行動センシング</span>
              <span>松田裕貴</span>
              <span>2024.07.18</span></p>
              <ul><li><a href="https://www.ieice.org/~semi/pub/ja/awards-ja.html">Link</a></li>
                  <li class="lab cocolab"></li></ul>
            <li><p>情報処理学会 DICOMO 2024 「野口賞（デモ賞）」
              <span>未知ゴミ識別のための判定手法の比較と実用化に向けた検討</span>
              <span>立花巧樹, 呉健朗, 松田裕貴, 諏訪博彦, 安本慶一</span>
              <span>2024.06.28</span></p>
              <ul><li><a href="https://dicomo.org/commendation/">Link</a></li>
                  <li class="lab naist"></li></ul>
            <li><p>情報処理学会 DICOMO 2024 「ヤングリサーチャ賞」
              <span>未知ゴミ識別のための判定手法の比較と実用化に向けた検討</span>
              <span>立花巧樹</span>
              <span>2024.06.28</span></p>
              <ul><li><a href="https://dicomo.org/commendation/">Link</a></li>
                  <li class="lab naist"></li></ul>
          </ol>
        </div>
      </section>
      <section id="2023">
        <h3><span>2023年度まで</span></h3>
        <div id="2023-b">
          <h4>書籍</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p>安本慶一, 荒川豊, <span class="author">松田裕貴</span>:
              <span class="title">“スッキリ!がってん!IoTの本,”</span>
              pp.1-143, 2021, 電気書院.</p>
              <ul><li><a href="
  https://www.denkishoin.co.jp/products/view/1319">出版社サイト</a></li>
                  <li><a href="
  https://www.amazon.co.jp/dp/4485600467">Amazon</a></li>
                  <li><a href="
  https://honto.jp/netstore/pd-book_31129333.html">Honto</a></li></ul>
          </ol>
        </div>
        <div id="2023-j">
          <h4>論文誌・ジャーナル</h4>
          <ol class="publication">
            <li class='ref-item'>
              <p>Jiaxuan Zhang, <span class="author">Yuki Matsuda</span>, Manato Fujimoto, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“Movement Recognition via Channel-Activation-Wise sEMG Attention,”</span>
              Methods, Vol.218, pp.39-47, 2023.</p>
              <ul><li><a href="https://doi.org/10.1016/j.ymeth.2023.06.011">DOI</a></li>
                  <li><a href="https://www.sciencedirect.com/science/article/pii/S1046202323001093/pdfft?md5=70aad5b254e74e9f0a756b1c3a4da250&pid=1-s2.0-S1046202323001093-main.pdf">PDF</a></li></ul>
            <li class='ref-item'>
              <p>Daisuke Nose, Tomokazu Matsui, Takuya Otsuka, <span class="author">Yuki Matsuda</span>, Tadaaki Arimura, Keiichi Yasumoto, Masahiro Sugimoto, Shin-Ichiro Miura:
              <span class="title">“Development of Machine Learning-Based Web System for Estimating Pleural Effusion Using Multi-Frequency Bioelectrical Impedance Analyses,”</span>
              Journal of Cardiovascular Development and Disease, Vol.10, No.7:291, pp.1-14, 2023.</p>
              <ul><li><a href="https://doi.org/10.3390/jcdd10070291">DOI</a></li>
                  <li><a href="https://www.mdpi.com/2308-3425/10/7/291/pdf">PDF</a></li></ul>
            <li class='ref-item'>
              <p>Koki Tachibana, Yugo Nakamura, <span class="author">Yuki Matsuda</span>, Hirohiko Suwa, Keiichi Yasumoto:
              <span class="title">“ACOGARE: Acoustic-Based Litter Garbage Recognition Utilizing Smartwatch,”</span>
              Sustainability, Vol.15, No.13:10079, pp.1-17, 2023.</p>
              <ul><li><a href="https://doi.org/10.3390/su151310079">DOI</a></li>
                  <li><a href="https://yukimat.jp/data/pdf/paper/ACOGARE_j_202306_tachibana_sustainability.pdf">PDF</a></li></ul>
            <li class='ref-item'>
              <p><span class="author">松田裕貴</span>, 尾崎えり子, 日高興人, 吉田友子, 小野博之, 仲林政子, 西浦弘望, 久保進也, 城野聖一:
              <span class="title">“にしょロボくん： 地域の魅力発信アプリの共創を題材とするGIGAスクール端末を用いた全校縦割り活動の実践,”</span>
              情報処理学会論文誌デジタルプラクティス（TDP）, Vol.4, No.2, pp.55-66 2023.</p>
              <ul><li><a href="
  http://id.nii.ac.jp/1001/00225512/">Link</a></li>
                  <li><a href="https://yukimat.jp/data/pdf/paper/Nishorobo_j_202304_yukimat_TDP.pdf">PDF</a></li></ul>
            <li class='ref-item'>
              <p>Yugo Nakamura, Rei Nakaoka, <span class="author">Yuki Matsuda</span>, Keiichi Yasumoto:
              <span class="title">“eat2pic: An Eating-Painting Interactive System to Nudge Users into Making Healthier Diet Choices,”</span>
              Proceedings of the ACM on Interactive, Mobile, Wearable and Ubiquitous Technologies (IMWUT), Vol.7, No.1, pp.1-23, 2023.</p>
              <ul><li><a href="
  https://doi.org/10.1145/3580784">DOI</a></li>
                  <li><a href="https://dl.acm.org/doi/pdf/10.1145/3580784">PDF</a></li></ul>
          </ol>
        </div>
      </section>
      <p>※このページは準備中です。教員の業績は<a href="https://yukimat.jp/">個人サイト（https://yukimat.jp/）</a>を御覧ください。</p>
    </article>
  </div>
</main>
<%- include('./_footer') %>