*,*::before,*::after{box-sizing:border-box}html{-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role='list'],ol[role='list']{list-style:none}body{min-height:100vh;line-height:1.5}h1,h2,h3,h4,button,input,label{line-height:1.1}h1,h2,h3,h4{text-wrap:balance}a:not([class]){text-decoration-skip-ink:auto;color:currentColor}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}textarea:not([rows]){min-height:10em}:target{scroll-margin-block:5ex}ul,ol{margin:0;padding:0;}
:root {
  --font-family-serif: 'Noto Serif JP', serif;
  --font-family-sans: 'Noto Sans JP', Helvetica, Arial, sans-serif;
  --theme-color: #334;
  --accent-color: #36c;
  --side-margin: 20px;
}
@media screen and (max-width: 920px) {
  :root {
    --side-margin: 15px;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --side-margin: 10px;
  }
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
html, body {
  font-family: var(--font-family-sans);
  color: var(--theme-color);
}
a {
  text-decoration: none;
  color: var(--theme-color);
  &:hover {
    color: var(--accent-color);
  }
}
div.app {
  position: relative;
  width: min(100vw, 1280px);
  min-height: 100vh;
  margin: 0 auto;
}
header {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: clamp(280px, calc(28vw + 100px), 460px);
  @media screen and (max-width: 920px) {
    height: clamp(275px, calc(28vw + 95px), 455px);
  }
  @media screen and (max-width: 640px) {
    height: clamp(265px, calc(28vw + 85px), 445px);
  }
  div.logomark {
    position: relative;
    z-index: 15;
    top: 70px;
    left: clamp(15px, 3.125vw, 40px);
    width: clamp(90px, 14.1%, 180px);
    aspect-ratio: 1;
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent url('../img/logomark.png') center center no-repeat;
      background-size: 100% auto;
    }
  }
  &.scaled div.logomark,
  &.fixed div.logomark {
    position: fixed;
    top: 12px;
    left: max(15px, 3.125vw, calc(50vw - 600px));
  }
  &.fixed div.logomark {
    width: 50px;
  }
  &.scaled div.logomark:before,
  &.fixed div.logomark:before {
    width: clamp(50px, 100%, 180px);
  }
  div.logotype-fixed {
    content: "";
    position: fixed;
    z-index: 15;
    left: max(70px, calc(56px + 3.125vw), calc(50vw - 544px));
    top: -68px;
    width: 156px;
    height: 50px;
    background: transparent url('../img/logotype-fixed.png') center center no-repeat;
    background-size: 100% auto;
    opacity: 0;
    transition: top 0.5s, opacity 0.3s;
  }
  @media screen and ((max-width: 640px) or (min-width: 780px)) {
    &.fixed div.logotype-fixed {
      top: 12px;
      opacity: 1;
    }
  }
  div.logotype {
    position: absolute;
    z-index: 0;
    bottom: 30px;
    @media screen and (max-width: 920px) {
      bottom: 25px;
    }
    @media screen and (max-width: 640px) {
      bottom: 15px;
    }
    left: clamp(15px, 3.125%, 40px);
    width: clamp(450px, 70.3%, 900px);
    aspect-ratio: 5;
    @media screen and (max-width: 640px) {
      width: 70.3%;
      max-width: 155px;
      aspect-ratio: 31/18;
    }
    h1 {
      position: absolute;
      height: 100%;
      &.en {
        left: 0;
        width: clamp(155px, 34.4%, 310px);
        @media screen and (max-width: 640px) {
          width: 100%;
        }
        background: transparent url('../img/logotype.png') center bottom no-repeat;
        background-size: 100% auto;
      }
      &.ja {
        right: 0;
        width: clamp(280px, 62.2%, 560px);
        background: transparent url('../img/logotype-ja.png') center bottom no-repeat;
        background-size: 100% auto;
      }
      @media screen and (max-width: 640px) {
        &.ja {
          display: none;
        }
      }
      display: block;
      width: 100%;
      height: 100%;
      span {
        display: none;
      }
    }
  }
  .header-fixed {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background: white;
    .container {
      position: relative;
      width: min(100vw, 1280px);
      margin: 0 auto;
    }
    div.ic-drawer {
      display: block;
      position: absolute;
      right: -50px;
      top: 10px;
      width: 50px;
      height: 50px;
      background: url("../img/ic-drawer.png") center center no-repeat;
      background-size: 100%;
      opacity: 0;
      transition: right 0.5s, opacity 0.3s;
    }
  }
  @media screen and (max-width: 640px) {
    &.fixed .header-fixed {
      div.ic-drawer {
        right: 0px;
        opacity: 1;
      }
    }
  }
  .header-nav {
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    .container {
      width: min(100vw, 1280px);
      margin: 0 auto;
    }
    ul {
      float: right;
      padding: 0 30px 0 0;
      li {
        list-style: none;
        float: left;
        a {
          position: relative;
          display: block;
          padding: 20px 15px;
          line-height: 30px;
          font-weight: bold;
          font-size: 0.9rem;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6px;
            background: transparent;
          }
          &:hover:before {
            background: var(--accent-color);
          }
        }
      }
    }
  }
  @media screen and (max-width: 920px) {
    .header-nav {
      ul {
        li a {
          padding: 20px 8px;
          font-size: 0.9rem;
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    .header-nav {
      position: absolute;
      ul {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px 0;
        transition: opacity 0.3s, right 0.3s;
        li {
          float: none;
          width: 40vw;
          a {
            width: 100%;
            height: 30px;
            padding: 0 20px 0 0;
            text-align: right;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: auto;
              right: 0;
              width: 6px;
              height: 100%;
              background: transparent;
            }
            &:hover:before {
              background: var(--accent-color);
            }
          }
        }
      }
    }
    &.fixed .header-nav {
      ul {
        opacity: 0;
        right: -40vw;
      }
    }
  }
  @media screen and (max-width: 360px) {
    .header-nav {
      ul {
        opacity: 0;
        right: -40vw;
      }
    }
  }
}

section.main {
  padding: 0 var(--side-margin);
  div.slider {
    ul {
      li {
        list-style: none;
        width: 100%;
        aspect-ratio: 3;
        border-radius: 20px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  div.content {
    float: right;
    width: 70%;
    padding: 20px;
  }
}
footer {
  margin: 0 var(--side-margin) 30px;
  div.container {
    height: 500px;
    background: var(--theme-color) url('../img/logo-footer.png') right 20px bottom 20px no-repeat;
    background-size: 320px 130px;
    border-radius: 20px;
    padding: 30px;
    ul {
      li {
        list-style: none;
        color: white;
        a {
          font-weight: bold;
          color: #ccc;
          padding: 5px;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  p.copyright {
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 0.8rem;
  }
}
