*,*::before,*::after{box-sizing:border-box}html{-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role='list'],ol[role='list']{list-style:none}body{min-height:100vh;line-height:1.5}h1,h2,h3,h4,button,input,label{line-height:1.1}a:not([class]){text-decoration-skip-ink:auto;color:currentColor}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}textarea:not([rows]){min-height:10em}:target{scroll-margin-block:5ex}ul,ol{margin:0;padding:0;}
:root {
  --font-family-serif: 'Noto Serif JP', serif;
  --font-family-sans: 'Noto Sans JP', Helvetica, Arial, sans-serif;
  --theme-color: #334;
  --accent-color: #007dc5;
  --side-margin: 20px;
  --base-font-size: 16px;
}
@media screen and (max-width: 920px) {
  :root {
    --side-margin: 15px;
    --base-font-size: 15px;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --side-margin: 10px;
    --base-font-size: 14px;
  }
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
* {
  font-feature-settings: "palt";
  letter-spacing: 0.1rem;
  text-wrap: pretty;
}
h1, h2, h3 {
  background: linear-gradient(45deg, #303a91, #007dc5 25%);
  background: -webkit-linear-gradient(45deg, #303a91, #007dc5 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  text-align: justify;
}
html, body {
  font-family: var(--font-family-sans);
  color: var(--theme-color);
  font-size: var(--base-font-size);
}
a {
  text-decoration: none;
  color: var(--theme-color);
  &:hover {
    color: var(--accent-color);
  }
}
div.app {
  position: relative;
  width: min(100vw, 1280px);
  min-height: 100vh;
  margin: 0 auto;
}
#header {
  .top & {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: clamp(280px, 28vw + 100px, 460px);
    @media screen and (max-width: 920px) {
      height: clamp(275px, 28vw + 95px, 455px);
    }
    @media screen and (max-width: 640px) {
      height: clamp(265px, 28vw + 85px, 445px);
    }
    div.logomark {
      position: relative;
      z-index: 15;
      top: 70px;
      left: clamp(15px, 3.125vw, 40px);
      width: clamp(90px, 14.1%, 180px);
      aspect-ratio: 1;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent url('../img/logo/logomark.png') center center no-repeat;
        background-size: 100% auto;
      }
    }
    &.scaled div.logomark,
    &.fixed div.logomark {
      position: fixed;
      top: 12px;
      left: max(15px, 3.125vw, 50vw - 600px);
    }
    &.fixed div.logomark {
      width: 50px;
    }
    &.scaled div.logomark:before,
    &.fixed div.logomark:before {
      width: clamp(50px, 100%, 180px);
    }
    div.logotype {
      position: absolute;
      z-index: 0;
      bottom: 30px;
      @media screen and (max-width: 920px) {
        bottom: 25px;
      }
      @media screen and (max-width: 640px) {
        bottom: 15px;
      }
      left: clamp(15px, 3.125%, 40px);
      width: clamp(450px, 70.3%, 900px);
      aspect-ratio: 5;
      @media screen and (max-width: 640px) {
        width: 70.3%;
        max-width: 155px;
        aspect-ratio: 31/18;
      }
      & > div {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        &.en {
          left: 0;
          width: clamp(155px, 34.4%, 310px);
          @media screen and (max-width: 640px) {
            width: 100%;
          }
          background: transparent url('../img/logo/logotype-en.png') center bottom no-repeat;
          background-size: 100% auto;
        }
        &.ja {
          right: 0;
          width: clamp(280px, 62.2%, 560px);
          background: transparent url('../img/logo/logotype-ja.png') center bottom no-repeat;
          background-size: 100% auto;
        }
        @media screen and (max-width: 640px) {
          &.ja {
            display: none;
          }
        }
        span {
          display: none;
        }
      }
    }
    div.logotype-fixed {
      content: "";
      position: fixed;
      z-index: 15;
      top: -68px;
      width: 160px;
      height: 50px;
      margin: 0 0 0 calc(clamp(15px, 3.125vw, 40px) + 56px);
      background: transparent url('../img/logo/logotype-fixed.png') center center no-repeat;
      background-size: 100% auto;
      opacity: 0;
      transition: top 0.5s, opacity 0.3s;
    }
    @media screen and ((max-width: 640px) or (min-width: 780px)) {
      &.fixed div.logotype-fixed {
        top: 12px;
        opacity: 1;
      }
    }
  }
  .page & {
    height: 70px;
    h1.logo {
      position: fixed;
      z-index: 12;
      top: 0;
      a {
        position: relative;
        display: block;
        height: 70px;
        width: calc(216px + clamp(30px, 6.25vw, 80px));
        &:before {
          content: "";
          position: absolute;
          left: clamp(15px, 3.125vw, 40px);
          top: 12px;
          width: 50px;
          height: 50px;
          background: transparent url('../img/logo/logomark.png') center center no-repeat;
          background-size: 100%;
        }
        &:after {
          content: "";
          position: absolute;
          right: clamp(15px, 3.125vw, 40px);
          top: 12px;
          @media screen and ((min-width: 641px) and (max-width: 779px)) {
            display: none;
          }
          width: 160px;
          height: 50px;
          background: transparent url('../img/logo/logotype-fixed.png') right center no-repeat;
          background-size: 100%;
        }
        span {
          display: none;
        }
      }
    }
  }
  .header-fixed {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    background: white;
    .container {
      position: relative;
      width: min(100vw, 1280px);
      margin: 0 auto;
    }
    div.ic-drawer {
      display: block;
      position: absolute;
      right: -70px;
      top: 0;
      width: 70px;
      height: 70px;
      background: url("../img/parts/ic-drawer-open.png") right center no-repeat;
      background-size: auto 100%;
      opacity: 0;
      transition: right 0.5s, opacity 0.3s;
    }
  }
  @media screen and (max-width: 640px) {
    &.fixed .header-fixed {
      div.ic-drawer {
        right: -10px;
        opacity: 1;
        &:hover {
          right: 0;
          cursor: pointer;
        }
      }
    }
    &.drawer-opened .header-fixed {
      div.ic-drawer {
        background: url("../img/parts/ic-drawer-close.png") right center no-repeat;
        background-size: auto 100%;
      }
    }
  }
  .header-nav {
    position: fixed;
    z-index: 11;
    top: 0;
    width: min(100vw, 1280px);
    height: 70px;
    ul {
      float: right;
      padding: 0 30px 0 0;
      li {
        list-style: none;
        float: left;
        a {
          position: relative;
          display: block;
          padding: 20px 15px;
          line-height: 30px;
          font-weight: bold;
          font-size: 0.9rem;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 6px;
            background: transparent;
          }
          &:hover:before {
            background: var(--accent-color);
          }
        }
      }
    }
  }
  @media screen and (max-width: 920px) {
    .header-nav {
      ul {
        li a {
          padding: 20px 8px;
          font-size: 0.9rem;
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    .header-nav {
      position: absolute;
      width: 100vw;
      height: auto;
      ul {
        position: absolute;
        top: 20px;
        right: 0;
        width: 40vw;
        padding: 0;
        transition: opacity 0.3s;
        background: white;
        li {
          float: none;
          width: 100%;
          a {
            width: 100%;
            height: 30px;
            padding: 0 20px 0 0;
            text-align: right;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: auto;
              right: 0;
              width: 6px;
              height: 100%;
              background: transparent;
            }
            &:hover:before {
              background: var(--accent-color);
            }
          }
        }
      }
    }
    &.fixed .header-nav {
      ul {
        position: fixed;
        opacity: 0;
        right: -40vw;
      }
    }
    &.drawer-opened .header-nav {
      position: fixed;
      ul {
        top: 70px;
        width: 100vw;
        height: calc(100vh - 70px);
        opacity: 1;
        right: 0;
        li a {
          height: 40px;
          line-height: 40px;
          font-size: 1rem;
        }
      }
    }
  }
  @media screen and (max-width: 360px) {
    .header-nav {
      ul {
        opacity: 0;
        right: -40vw;
      }
    }
  }
}
main {
  display: block;
  padding: 0 var(--side-margin);
  div.slider {
    ul {
      li {
        list-style: none;
        width: 100%;
        aspect-ratio: 3;
        @media screen and (max-width: 920px) {
          aspect-ratio: 2.5;
        }
        @media screen and (max-width: 640px) {
          aspect-ratio: 2;
        }
        border-radius: 15px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  header {
    display: flex;
    width: 100%;
    height: 128px;
    border-radius: 15px;
    padding: 0 0 5px;
    margin: 10px 0 0;
    background: url('../img/parts/bg-subtitle.png') center center no-repeat;
    background-size: cover;
    h2 {
      align-self: center;
      flex-grow: 1;
      font-size: 1.6rem;
      padding: 0 30px;
      color: white;
      text-shadow: 1px 1px 3px black;
      background: transparent;
      -webkit-background-clip: initial;
      -webkit-text-fill-color: initial;
      span {
        font-size: 1rem;
        display: block;
      }
    }
  }
  div.content-2col {
    display: block;
    padding: 20px 0 30px;
    section {
      float: left;
      width: 50%;
      padding: 20px;
      h2 {
        margin: 0 0 10px;
      }
      p {
        padding: 0 0 10px;
      }
      img {
        margin: 5px 0 10px;
        border-radius: 5px;
      }
      footer {
        margin: 10px 0;
        padding: 10px;
        font-size: 0.8rem;
        border: 1px dotted #ddd;
        border-width: 1px 0 0;
      }
      ul.news {
        border: 1px dotted #ddd;
        border-width: 1px 0 0;
        li {
          list-style: none;
          padding: 10px 15px;
          border: 1px dotted #ddd;
          border-width: 0 0 1px;
          time {
            display: block;
            color: #666;
            font-size: 0.9rem;
          }
        }
      }
    }
    @media screen and (max-width: 640px) {
      section {
        float: none;
        width: 100%;
      }
    }
  }
  div.content {
    display: block;
    padding: 20px 0 30px;
    nav {
      @media screen and (min-width: 640px) {
        position: sticky;
        top: 70px;
        float: left;
        width: 25%;
        padding: 20px;
        margin: 5px 0;
        ul {
          li {
            list-style: none;
            width: 100%;
            line-height: 20px;
            padding: 10px;
            cursor: none;
            ul {
              padding: 10px 0;
              li {
                list-style: circle;
                margin: 0 0 0 25px;
                padding: 5px 10px;
              }
            }
          }
        }
      }
      @media screen and (max-width: 639px) {
        width: 100%;
        padding: 20px;
        ul {
          li {
            list-style: none;
            float: left;
            margin: 0 15px 0 0;
            ul {
              display: none;
            }
          }
        }
      }
    }
    article {
      width: 100%;
      padding: 20px;
      @media screen and (min-width: 640px) {
        float: right;
        width: 75%;
      }
      section {
        padding: 0 0 20px;
      }
      h3 {
        padding: 10px 0 20px;
        font-size: 1.4rem;
      }
      h4 {
        padding: 10px 0 20px;
        font-size: 1.2rem;
      }
      p {
        padding: 0 0 10px;
      }
      p:last-child {
        padding: 0 0 30px;
      }
      img.img-center {
        margin: 20px auto;
        width: 70%;
        max-width: 600px;
        min-width: min(95%, 400px);
      }
      div.container-flex-right-img {
        margin: 0 0 20px;
        img {
          float: right;
          margin: 10px 20px;
          width: 50%;
          min-width: 400px;
        }
        @media screen and (max-width: 1080px) {
          display: flex;
          flex-direction: column;
          img {
            order: 3;
            float: none;
            margin: 10px auto 20px;
            width: 100%;
            max-width: 600px;
            min-width: auto;
          }
        }
      }
      aside {
        margin: 10px 0;
        padding: 10px;
        font-size: 0.8rem;
        border: 1px dotted #ddd;
        border-width: 1px 0;
      }
      div.project-card {
        margin: 10px 0;
        padding: 10px 20px;
        border: 1px solid #eee;        
        border-radius: 5px;
      }
      ul {
        padding: 0 0 0 30px;
        margin: 0 0 30px;
      }
      ul.keyword {
        padding: 0;
        li {
          list-style: none;
          display: inline-block;
          font-size: 0.8rem;
          padding: 5px 15px;
          margin: 8px 8px 0 0;
          border-radius: 20px;
          background: #eee;
        }
      }
      ul.people {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        width: 100%;
        li {
          flex-basis: 48%;
          @media screen and (min-width: 920px) {
            flex-basis: 23%;
          }
          @media screen and (min-width: 480px) {
            flex-basis: 31%;
          }
          margin: 0 2% 20px 0;
          list-style: none;
          text-align: center;
          img {
            width: 100%;
            aspect-ratio: 1;
            border-radius: 15px;
          }
          h4 {
            padding: 5px 0;
            font-size: 1.2rem;
          }
          span {
            display: block;
            font-size: 0.9rem;
          }
          small {
            display: block;
            font-size: 0.9rem;
          }
        }
      }
      ol.publication {
        margin: 0 0 40px;
        li {
          margin: 3px 5px 3px 30px;
        }
      }
    }
  }
}
footer {
  margin: 0 var(--side-margin) 30px;
  div.container {
    height: 500px;
    background: var(--theme-color) url('../img/logo/logo-footer.png') right 20px bottom 20px no-repeat;
    background-size: min(320px, 60%) auto;
    border-radius: 15px;
    padding: 30px;
    ul {
      li {
        list-style: none;
        color: white;
        a {
          display: block;
          font-weight: bold;
          color: #ccc;
          padding: 5px 10px;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
  p.copyright {
    display: block;
    text-align: center;
    padding: 15px 0;
    font-size: 0.8rem;
  }
}
